.ds-table {
  color: white;
  font-size: 13px;
  margin-bottom: 0;
  th,
  td {
    padding: 0.5rem 0.75rem;
    vertical-align: top;
    border-top: 1px solid #122272;
  }
  .thead-dark th {
    background: #122272;
  }

  thead th {
    vertical-align: bottom;
    border-bottom: none;
    border-top: none;
    font-weight: bold;
    font-size: 14px;
    padding: 0.5rem 0.75rem 0.3rem;
  }
}

.ds-table-scroll {
  max-height: 350px;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: auto;
}

.ds-table-scroll::-webkit-scrollbar-track {
  background-color: #f5f5f5;
  border-radius: 5px;
}

.ds-table-scroll::-webkit-scrollbar {
  width: 5px;
  border-radius: 5px;
  background-color: #f5f5f5;
}

.ds-table-scroll::-webkit-scrollbar-thumb {
  background-color: #8f1e6c;
  border-radius: 5px;
}

.ds-filter {
  margin-bottom: 10px;
  .form-control {
    background: #11206d;
    border-color: #8f1e6c;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    height: 34px;
    &:hover,
    &:focus {
      box-shadow: none;
      outline: none;
    }

    &::placeholder {
      color: #c0c0c0;
    }
  }
}

.ds-filter-btn {
  height: 34px;
  padding: 5px 12px;
  background: #8f1e6c;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.ds-more {
  text-align: center;
  padding: 30px 10px 15px;

  .btn {
    background: #123c8e;
    border: 1px solid #225cce;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 13px;
    color: white;
    font-weight: normal;
    &:hover {
      background: #225cce;
    }
  }
}

.section-ds {
  // padding-top: 100px;
  padding: 200px 0 50px;

  // min-height: 100vh;
  @media only screen and (max-width: 1500px) {
    padding: 150px 0 80px;
  }

  @media only screen and (max-width: 600px) {
    padding: 100px 0 50px;
  }
}
