.embed-responsive-slider {
  &::before {
    padding-top: percentage(30/79);
  }
}

.embed-responsive-product {
  &::before {
    padding-top: percentage(244/210);
  }
}

.link-black {
  color: $black;
  @include hover-focus() {
    color: color("momo");
  }
}

.embed-responsive-img {
  background: gray("100");
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  border: 0;
  overflow: hidden;
}

.new-feature {
  // height: 370px;
  margin-bottom: 20px;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0;
  position: relative;
  background-color: gray("300");

  &:after {
    display: block;
    content: "";
    padding-top: percentage(370/770);
  }

  &:before {
    opacity: 0.7;
    background-image: -moz-linear-gradient(transparent, #111),
      -moz-linear-gradient(transparent, #111);
    background-image: -o-linear-gradient(transparent, #111),
      -o-linear-gradient(transparent, #111);
    background-image: linear-gradient(transparent, #111),
      linear-gradient(transparent, #111);
    height: 70%;
    position: absolute;
    z-index: 1;
    right: 0;
    bottom: 0;
    width: 100%;
    content: "";
    left: 0;
  }

  @include media-breakpoint-down(sm) {
    // height: 290px;
    .new-feature-content {
      padding: 10px;
    }

    .new-feature-title {
      font-size: 16px;
    }
  }
}

.new-feature-content {
  color: white;
  right: 0;
  width: 100%;
  left: 0;
  bottom: 0;
  padding: 20px 20px;
  position: absolute;
  z-index: 7;
  .new-cat {
    margin-bottom: 15px;
    position: relative;
  }

  .new-meta {
    color: gray("200");
  }
  &:hover {
  }
}

.new-feature-title {
  display: block;
  color: #fff;
  // padding-right: 50px;
  line-height: 1.2;
  a {
    color: white;
    &:hover {
      color: lighten(color("momo"), 50%);
    }
  }
}

.new-meta {
  color: gray("600");
  li {
    line-height: 1;
    font-size: 13px;
    padding-right: 5px;
  }
}

.new-meta-svg {
  width: 13px;
  height: 13px;
  margin-right: 2px;
}

.new-cat {
  position: relative;
  display: inline-block;

  text-transform: capitalize;
  position: absolute;
  bottom: 0;
  left: 0;

  font-size: 14px;
  font-weight: 400;

  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  z-index: 15;

  a {
    background: color("momo");
    padding: 4px 8px;
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
    font-size: 10px;
    &:hover {
      background: darken(color("momo"), 5%);
    }
  }
}

.new-item {
  margin-bottom: 0;
  &:hover {
    .new-item-title {
      color: color("momo");
      a {
        color: color("momo");
      }
    }
  }
}

.new-item-title {
  font-size: 1rem;
  margin-bottom: 5px;
}

.new-item-content {
  margin-top: 10px;
}

.new-item-img {
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  &::before {
    padding-top: percentage(370/770);
  }
}

.new-item-content {
}

@include media-breakpoint-down(sm) {
  .new-feature {
    margin-bottom: 5px;
  }

  .des-block-content-tintuc {
    background: #fef3dd;
  }

  .new-feature-title {
    font-size: 18px;
  }
  .new-meta li {
    font-size: 12px;
  }
  .new-item-img {
    width: 120px;
    float: left;
  }
  .new-item {
    margin-bottom: 3px;
    padding-bottom: 3px;
    border-bottom: 1px solid gray("200");
  }
  .new-item-content {
    margin-left: 130px;
  }
  .new-item-title {
    font-size: 14px;
    line-height: 1.3;
    margin-bottom: 5px;
    font-weight: normal;
  }

  .section-space {
    margin-bottom: 10px;
  }
  .section-title {
    margin-bottom: 10px;
  }
  .new-cat {
    a {
      padding: 2px 4px;
      font-size: 9px;
    }
  }
}

.tt-nav {
  padding-bottom: 5px;
  border-bottom: 1px solid gray("400");
  margin-bottom: 15px;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch; /* [4] */
  -ms-overflow-style: -ms-autohiding-scrollbar; /* [5] */

  &::-webkit-scrollbar {
    display: none;
  }

  .nav-item {
    flex: 0 0 auto;
    margin: auto;
  }

  .nav-link {
    padding: 5px 30px;
    font-size: 18px;
    color: gray("300");
    font-weight: bold;
    white-space: nowrap;

    &.active {
      color: $momo2;
    }
  }

  @include media-breakpoint-down(md) {
    .nav-link {
      padding: 5px 15px;
      font-size: 16px;
    }
  }

  @include media-breakpoint-down(sm) {
    .nav-link {
      padding: 3px 8px;
      font-size: 13px;
    }
  }
}

.hv-active {
  .hv-timeline {
    border: 2px solid $momo;
    color: rgba(255,255,255,1);
  }
}

.hv-swiper{
  padding: 0 15px !important;
  .swiper-button-white{
    background-size: 15px 29px !important;
    background-color: rgba(0,0,0,0.2) !important;
    border-radius: 5px;
  }
  .swiper-wrapper.nav{
    flex-wrap: nowrap;
  }  
  .swiper-button-prev{
    left: 0 !important;
  }

  .swiper-button-next{
    right: 0 !important;
  }

  @include media-breakpoint-down(sm){
    padding: 0  !important;
  }
}

.hv-timeline {
  max-width: 160px;
  display: block;
  margin: 0 auto;
  font-size: 18px;
  cursor: pointer;
  color: rgba(255,255,255,0.5);
  text-align: center;
  border: 2px solid #123c8e;
  border-radius: 5px;
  overflow: hidden;
 
}

.hv-film {
  background: #00217e;
  font-size: 20px;
  font-weight: bold;
  padding: 10px 5px;
}

.hv-content{
  color: white;
}

.hv-date {
  padding: 10px 5px;
}

.hv-subtitle{
  color: #16a3fe;
  margin-bottom: 15px;
}

.hv-money{
  color: #fffc94;
}

.hv-img{
  max-width: 300px;
  margin: 0 auto;
  width: 100%;
}