{% set title = 'Gulp Des Index' %}
{% set page = 'index.html' %}

{% extends 'layouts/application.html' %}

{% import 'macros/helpers.html' as macro %}


{% block content %}
<div class="game-container-bg" style="background-image:url('img/des/bg-all-test.png')"></div>

<div class="game-container-pattern" style="background-image:url('img/space.png')"></div>

<script>

    var speed = 1;
    var minimum = 35;
    var maximum = 50;

</script>
<canvas id="fireworks"></canvas>




<div class="section section-item text-left flash-item section-ds" data-anchor="khachhangmoi">

    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-10 offset-lg-1">
                <div class=" ">


                    <div class="thewall-section px-3 px-lg-4">

                        <div class="thewall-heading">
                            <h2 class="thewall-heading-txt animate-tada des-animated delay-0-5s">
                                Danh sách trúng thưởng
                            </h2>
                        </div>

                        <div class="thewall-section-txt ">

                            <div class="">
                                <div class="ds">
                                    <div class="ds-filter">

                                        <div class="row no-gutters align-items-center">
                                            <div class="col-12 mb-2 mb-md-0 col-md">
                                                <h6 class="mb-0 font-weight-normal">Tập 1 có <strong>1280</strong>
                                                    người chiến thắng</h6>
                                            </div>
                                            <div class="col-12  mb-2 mb-md-0 col-md-auto mr-4">
                                                <div class="form-group mb-0">
                                                    <select class="form-control" id="exampleFormControlSelect1">
                                                        <option>Tập 1</option>
                                                        <option>Tập 2</option>
                                                        <option>Tập 3</option>
                                                        <option>Tập 4</option>
                                                        <option>Tập 5</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-12 mb-2 mb-md-0 col-md-auto">
                                                <div class="input-group ">
                                                    <input type="text" class="form-control" aria-label=""
                                                        placeholder="Tìm theo số điện thoại">
                                                    <div class="input-group-append">
                                                        <button class="btn ds-filter-btn" type="button"
                                                            id="button-addon2">

                                                            <img src="img/des/search.svg" width="14" alt="">

                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="ds-content">

                                        <div class="ds-table-scroll">

                                            <table class="table ds-table">
                                                <thead class="thead-dark">
                                                    <tr>
                                                        <th scope="col" class="d-none d-md-table-cell">STT</th>
                                                        <th scope="col">HỌ TÊN</th>
                                                        <th scope="col" class="d-none d-md-table-cell">SỐ ĐIỆN THOẠI
                                                        </th>
                                                        <th scope="col" class="d-none d-md-table-cell">VÒNG</th>
                                                        <th scope="col">QUÀ</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for item in range(0,10) %}
                                                    <tr>
                                                        <th scope="row" class="d-none d-md-table-cell">{{ loop.index }}
                                                        </th>
                                                        <td>Nguyễn Anh T <div class="d-block d-md-none">094334xxx </div>
                                                        </td>
                                                        <td class="d-none d-md-table-cell">094334xxx </td>
                                                        <td class="d-none d-md-table-cell">Vòng 1</td>
                                                        <td><span class="hv-money">
                                                                200.000 đ
                                                            </span></td>
                                                    </tr>

                                                    {% endfor %}

                                                </tbody>
                                            </table>

                                        </div>

                                        <div class="ds-more">
                                            <a href="" class="btn">Xem thêm</a>
                                        </div>

                                    </div>
                                </div>


                            </div>


                        </div>
                    </div>




                </div>
            </div>
        </div>

    </div>

</div>







{% endblock %}