{% set title = 'Gulp Des Index' %}
{% set page = 'index.html' %}

{% extends 'layouts/application.html' %}

{% import 'macros/helpers.html' as macro %}


{% block content %}
<div class="game-container-bg" style="background-image:url('img/des/bg-all-test.png')"></div>

<div class="game-container-pattern" style="background-image:url('img/space.png')"></div>

<script>

    var speed = 1;
    var minimum = 35;
    var maximum = 50;

</script>
<canvas id="fireworks"></canvas>



<div class="indicate-dots">
    <ul id="" class="list-unstyled my-menu">
        <li data-menuanchor="tuonglua" class="active"><a href="#tuonglua">Tường lửa</a></li>
        <li data-menuanchor="thele"><a href="#thele">Thể lệ & điều khoản</a></li>
        <li data-menuanchor="giaithuong"><a href="#giaithuong">Giải thưởng</a></li>
        <li data-menuanchor="vatpham"><a href="#vatpham">Vật phẩm</a></li>
        <li data-menuanchor="nhiemvu"><a href="#nhiemvu">Nhiệm vụ </a></li>
        <li data-menuanchor="khachhangmoi"><a href="#khachhangmoi">Khách hàng mới</a></li>
        <li data-menuanchor="nguoichoi"><a href="#nguoichoi">Người chơi</a></li>
        <li data-menuanchor="huongdan"><a href="#huongdan">Hướng dẫn</a></li>
        <li data-menuanchor="hoidap"><a href="#hoidap">Hỏi đáp</a></li>
        <li data-menuanchor="tintuc"><a href="#tintuc">Tin tức</a></li>
    </ul>

</div>

<div class="home-flash-section home-flash-section-dark section" id="fullpage">


    <div class="section active section-item about-flash thewall-hero text-left" data-anchor="tuonglua">

        <div class="container ">

            <div class="row no-gutters align-items-center thewall-hero-h">
                <div class="col-12 col-lg-6 ">
                    <div class="thewall-title">
                        <div class="animate-fadeInUp des-animated faster delay-0-5s">
                            <img src="img/des/hero-txt.png" class="img-fluid mx-auto d-block " alt="">

                        </div>


                        <div class="mt-4 text-center">
                            <div class="text-uppercase"><strong>Chương trình sẽ bắt đầu sau : </strong></div>
                            <div class="a-timer timer mt10"></div>
                        </div>
                    </div>
                </div>




            </div>

        </div>


        <div class="thewall-people">
            <div class="animate-zoomLarge des-animated faster ">
                <img src="img/des/celeb.png" class="img-fluid mx-auto d-block" alt="">
            </div>
        </div>
    </div>




    <div class="section section-item text-left flash-item  " data-anchor="thele">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-10 offset-lg-1">
                    <div class="thewall-section-container   ">


                        <div class="thewall-section ">

                            <div class="thewall-heading">
                                <h2 class="thewall-heading-txt animate-tada des-animated delay-0-5s">
                                    THỂ LỆ GAME TƯỜNG LỬA
                                </h2>
                            </div>

                            <div class="thewall-section-txt des-animated animate-fadeInUp delay-0-5s ">
                                Mỗi tập có 3 vòng, tổng cộng 11 câu hỏi: <br>
                                Vòng 1: 5 câu hỏi, 2 đáp án/mỗi câu hỏi <br>
                                Vòng 2: 3 câu hỏi, 3 đáp án/mỗi câu hỏi <br>
                                Vòng 3: 3 câu hỏi, 4 đáp án/mỗi câu hỏi <br>
                                Thời gian trả lời các câu hỏi là 10 giây. <br>
                                Người chơi vượt qua vòng 1 hoặc vòng 2 phải lựa chọn chơi tiếp hoặc dừng <br>lại để
                                nhận
                                tiền thưởng tại vòng 1 hoặc vòng 2. Nếu người chơi trả lời sai bất kỳ câu hỏi nào
                                trong
                                các vòng chơi thì sẽ không được nằm trong danh sách chia thưởng của vòng đó và cũng
                                không nhận được giải bất kỳ phần thường nào....
                            </div>
                        </div>




                    </div>
                </div>
            </div>

        </div>
    </div>



    <div class="section section-item text-left flash-item" data-anchor="giaithuong">

        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-10 offset-lg-1">
                    <div class="thewall-section-container  mask-skew ">


                        <div class="thewall-section">

                            <div class="thewall-heading">
                                <h2 class="thewall-heading-txt animate-tada des-animated delay-0-5s">

                                    TỔNG GIẢI THƯỞNG LỚN NHẤT TỪ TRƯỚC ĐẾN NAY
                                </h2>
                            </div>

                            <div class="thewall-section-txt des-animated animate-fadeInUp delay-0-5s ">


                                <div class="tw-1">
                                    TỐI THỨ 5
                                </div>


                                <div>
                                    <!-- Nav tabs -->
                                    <div class="text-center">
                                        <ul class="nav text-center tw-2 ">
                                            <li class="nav-item">
                                                <a class="nav-link active" data-toggle="tab" href="#vong1">Vòng
                                                    1</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" data-toggle="tab" href="#vong2">Vòng 2</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" data-toggle="tab" href="#vong3">Vòng 3</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- Tab panes -->
                                    <div class="tab-content">
                                        <div class="tab-pane active " id="vong1">

                                            <p>
                                                Tổng tiền giải thưởng vòng 1 = Số tiền được công bố trước của vòng 1

                                            </p>
                                            <p>
                                                Số tiền người chơi dừng lại ở vòng 1 nhận = Tổng tiền giải vòng 1
                                                chia
                                                cho Số người chơi vượt qua vòng 1

                                            </p>
                                            <p> Số tiền còn lại của vòng 1 = Tổng tiền giải vòng 1 trừ đi Tổng số
                                                tiền
                                                của các người chơi chọn dừng lại ở vòng 1 nhận. Số tiền này sẽ được
                                                cộng
                                                dồn vào giải thưởng của vòng 2</p>


                                            <div class="mt-2"><em>Ví dụ :</em></div>

                                            <ul class="mb-0">
                                                <li>
                                                    Tiền công bố tại vòng 1 là 100.000.000 đồng. Kết thúc câu hỏi số
                                                    5
                                                    tại vòng 1 có 5.000 người trả lời đúng. Trong đó có 2.000 người
                                                    chọn
                                                    dừng lại, vậy số tiền của 1 trong 2.000 người chọn dừng lại nhận
                                                    được tính bằng công thức: (100.000.000/5000) = 20.000
                                                    đồng/người.


                                                </li>
                                                <li> Tổng số tiền còn lại của vòng 1 được tính bằng công thức:
                                                    100.000.000 - ( 20.000*2.000) = 60.000.000 đồng.
                                                </li>
                                                <li> Số tiền còn lại của vòng 1 sẽ được cộng dồn vào vòng 2 là
                                                    60.000.000 đồng.</li>


                                            </ul>


                                        </div>
                                        <div class="tab-pane " id="vong2">


                                            <p>
                                                Tổng tiền giải vòng 2 = Số tiền được công bố trước của vòng 2 cộng
                                                với
                                                Số tiền còn lại của vòng 1

                                            </p>
                                            <p>
                                                Số tiền người chơi dừng lại ở vòng 2 nhận = Tổng tiền giải vòng 2
                                                chia
                                                cho Số người chơi vượt qua vòng 2
                                            </p>
                                            <p> Số tiền còn lại của vòng 2 = Tổng tiền giải vòng 2 trừ đi Tổng số
                                                tiền
                                                của các người chơi chọn dừng lại vòng 2 nhận. Số tiền này sẽ được
                                                cộng
                                                dồn vào giải thưởng của vòng 3 </p>


                                            <div class="mt-2"><em>Ví dụ :</em></div>

                                            <ul class="mb-0">
                                                <li>
                                                    Tiền công bố trước của vòng 2 là 100.000.000 đồng thì Tổng tiền
                                                    giải
                                                    vòng 2 sẽ là 100.000.000 đồng được công bố cộng với số tiền còn
                                                    lại
                                                    của vòng 1 là 60.000.000 đồng, tổng cộng 160.000.000 đồng.

                                                </li>
                                                <li> Kết thúc câu hỏi số 8 tại vòng 2 có 5.000 người trả lời đúng.
                                                    Trong
                                                    đó có 3.000 người chọn dừng lại, vậy số tiền của 1 trong 3.000
                                                    chọn
                                                    dừng lại nhận được tính bằng công thức: (160.000.000/5.000)=
                                                    32.000
                                                    đồng/người.
                                                </li>
                                                <li> Tổng số tiền còn lại của vòng 2 được tính bằng công thức:
                                                    160.000.000 - (32.000*3.000) = 64.000.000 đồng.</li>
                                                <li>
                                                    Số tiền còn lại của vòng 1 sẽ được cộng dồn vào vòng 2 là
                                                    64.000.000
                                                    đồng.
                                                </li>



                                            </ul>

                                        </div>
                                        <div class="tab-pane " id="vong3">
                                            <p>
                                                Tổng tiền giải vòng 3 = Số tiền được công bố trước của vòng 3 cộng
                                                với
                                                Số tiền còn lại của vòng 2

                                            </p>
                                            <p>
                                                Số tiền người chơi vượt qua vòng 3 nhận = Tổng tiền giải vòng 3 chia
                                                cho
                                                Số người chơi vượt qua vòng 3

                                            </p>



                                            <div class="mt-2"><em>Ví dụ :</em></div>

                                            <ul class="mb-0">
                                                <li>
                                                    Tiền công bố trước của vòng 3 là 200.000.000 đồng thì Tổng tiền
                                                    giải
                                                    vòng 2 sẽ là 200.000.000 đồng được công bố cộng với số tiền còn
                                                    lại
                                                    của vòng 1 là 64.000.000 đồng, tổng cộng 264.000.000 đồng.

                                                </li>
                                                <li>Kết thúc câu hỏi số 11 tại vòng 3 có 100 người trả lời đúng. Số
                                                    tiền
                                                    mỗi người được nhận sẽ tính bằng công thức: (264.000.000/100) =
                                                    2.640.000 đồng/người.
                                                </li>




                                            </ul>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>




                    </div>
                </div>
            </div>

        </div>

    </div>



    <div class="section section-item text-left flash-item" data-anchor="vatpham">


        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-10 offset-lg-1">
                    <div class="thewall-section-container  mask-skew ">


                        <div class="thewall-section">

                            <div class="thewall-heading">
                                <h2 class="thewall-heading-txt animate-tada des-animated delay-0-5s">
                                    Sử dụng vật phẩm tăng cơ hội chiến thắng
                                </h2>
                            </div>

                            <div class="thewall-section-txt des-animated animate-fadeInUp delay-0-5s ">
                                <div>
                                    <!-- Nav tabs -->
                                    <div class="text-center">
                                        <ul class="nav text-center tw-3 ">
                                            <li class="nav-item">
                                                <a class="nav-link active" data-toggle="tab" href="#vp1">

                                                    <img src="img/des/vt1.png" width="50" class="mr-2" alt="">

                                                    Phao cứu sinh</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" data-toggle="tab" href="#vp2">

                                                    <img src="img/des/vt2.png" width="50" class="mr-2" alt="">
                                                    Xóa đáp án</a>
                                            </li>

                                        </ul>
                                    </div>
                                    <!-- Tab panes -->
                                    <div class="tab-content">
                                        <div class="tab-pane active container" id="vp1">

                                            <p>
                                                Vật phẩm chỉ được áp dụng khi người chơi có trả lời câu hỏi nhưng
                                                đáp án
                                                sai.


                                            </p>
                                            <p>
                                                Khi sử dụng, người chơi trả lời sai vẫn sẽ được tham gia tiếp chương
                                                trình hiện tại.
                                            </p>
                                            <p>
                                                Vật phẩm Phao Cứu Sinh chỉ áp dụng từ câu số 1 - câu số 8
                                                Người chơi sử dụng Phao Cứu Sinh tối đa 1 lần trong 1 tập
                                                Vật phẩm được tự động kích hoạt khi người chơi trả lời sai.
                                            </p>

                                            <p>
                                                <i>
                                                    *Người chơi có thể tích lũy các vật phẩm bằng cách hoàn thành
                                                    các
                                                    nhiệm vụ trước khi mỗi tập diễn ra, chi tiết xem phần nhiệm vụ.
                                                </i>
                                            </p>

                                        </div>
                                        <div class="tab-pane " id="vp2">...</div>
                                    </div>
                                </div>

                            </div>
                        </div>




                    </div>
                </div>
            </div>

        </div>

    </div>






    <div class="section section-item text-left flash-item" data-anchor="nhiemvu">


        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-10 offset-lg-1">
                    <div class="thewall-section-container  mask-skew">


                        <div class="thewall-section">

                            <div class="thewall-heading">
                                <h2 class="thewall-heading-txt animate-tada des-animated delay-0-5s">
                                    Làm nhiệm vụ nhận vật phẩm
                                </h2>
                            </div>

                            <div class="thewall-section-txt py-4">

                                <div class="row">
                                    <div class="col-6 col-lg-3  des-animated animate-fadeInUp "
                                        style="animation-delay: 0.3s">

                                        <a class="various text-white" href="#inline">
                                            <div>
                                                <img src="img/des/var1.png" width="190"
                                                    class="img-fluid mx-auto d-block" alt="">
                                            </div>

                                            <div class="h5 mt-4  mb-3 text-center ">
                                                Giới thiệu bạn bè
                                            </div>
                                        </a>

                                        <div id="inline" style="display:none;width:700px; color: #212121">
                                            <h2>Lorem ipsum dolor sit amet</h2>

                                            <p>
                                                <a id="add_paragraph" title="Add" class="button button-blue"
                                                    href="javascript:;">Add new paragraph</a>
                                                &nbsp;
                                                <a href="javascript:$.fancybox.close();">Close</a>
                                            </p>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                            </p>
                                        </div>
                                    </div>

                                    <div class="col-6 col-lg-3 des-animated animate-fadeInUp "
                                        style="animation-delay: 0.6s">
                                        <div>
                                            <img src="img/des/var2.png" width="190" class="img-fluid mx-auto d-block"
                                                alt="">
                                        </div>

                                        <div class="h5 mt-4 mb-3 text-center">
                                            Liên kết ngân hàng
                                        </div>
                                    </div>

                                    <div class="col-6 col-lg-3 des-animated animate-fadeInUp"
                                        style="animation-delay: 0.9s">
                                        <div>
                                            <img src="img/des/var3.png" width="190" class="img-fluid mx-auto d-block"
                                                alt="">
                                        </div>

                                        <div class="h5 mt-4  mb-3 text-center">
                                            Chơi cùng bạn bè
                                        </div>
                                    </div>

                                    <div class="col-6 col-lg-3 des-animated animate-fadeInUp "
                                        style="animation-delay: 1.2s">
                                        <div>
                                            <img src="img/des/var4.png" width="190" class="img-fluid mx-auto d-block"
                                                alt="">
                                        </div>

                                        <div class="h5 mt-4   mb-3 text-center">
                                            Chia sẻ Facebook
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>




                    </div>
                </div>
            </div>

        </div>

    </div>



    <div class="section section-item text-left flash-item" data-anchor="khachhangmoi">


        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-10 offset-lg-1">
                    <div class="thewall-section-container  mask-skew ">


                        <div class="thewall-section px-4">

                            <div class="thewall-heading">
                                <h2 class="thewall-heading-txt animate-tada des-animated delay-0-5s">
                                    Ưu đãi dành cho khách hàng mới
                                </h2>
                            </div>

                            <div class="thewall-section-txt ">

                                <div class="tw-6 h6 text-center mb-3">Nhập mã “vimomo” nhận ngay combo quà tặng trị
                                    giá
                                    500.000 đồng</div>

                                <div class="tw-5-container">


                                    {% for item in range(0,10) %}
                                    <div class="tw-5-item des-animated animate-fadeInUp"
                                        style="animation-delay: {{loop.index * 0.1}}s">
                                        <div>
                                            <img src="img/des/qua1.png" class="img-fluid" alt="">
                                        </div>

                                        <div class="tw-5">
                                            Thẻ quà Nạp ĐT, Mua mã thẻ
                                        </div>
                                    </div>

                                    {% endfor %}
                                </div>


                            </div>
                        </div>




                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="section section-item text-left flash-item" data-anchor="nguoichoi">


        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-12">
                    <div class="thewall-section-container  mask-skew ">


                        <div class="thewall-section px-4">

                            <div class="thewall-heading">
                                <h2 class="thewall-heading-txt animate-tada des-animated delay-0-5s">
                                    Danh sách các tập đã phát sóng
                                </h2>
                            </div>

                            <div class="thewall-section-txt ">

                                <div class="row">

                                    <div class="col-12 col-xl-10 offset-xl-1 ">

                                        <!-- Swiper -->
                                        <div class="hv-swiper-bg ">
                                            <div class="swiper-container hv-swiper">
                                                <div class="swiper-wrapper nav  ">


                                                    {% for item in range(1,8) %}
                                                    <div data-toggle="tab" href="#tap{{ item }}"
                                                        class="swiper-slide {% if loop.index == 1 %} hv-active {% endif %} ">
                                                        <div class="hv-timeline">

                                                            <div class="hv-film">
                                                                Tập {{ item }}
                                                            </div>

                                                            <div class="hv-date">
                                                                18/{{ loop.index + 3 }}/2019
                                                            </div>

                                                        </div>
                                                    </div>
                                                    {% endfor %}

                                                </div>

                                                <!-- Add Arrows -->
                                                <div class="swiper-button-next swiper-button-white ">
                                                </div>
                                                <div class="swiper-button-prev swiper-button-white ">
                                                </div>

                                            </div>
                                        </div>
                                        <!-- End Swiper -->
                                    </div>
                                </div>


                                <div class="tab-content mt-4 pt-0 pt-lg-4">
                                    <div class="tab-pane fade show active" id="tap1" role="tabpanel">
                                        <div class="hv-content  ">
                                            <div class="row align-items-center">
                                                <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
                                                    <div class="hv-img">
                                                        <img src="img/des/celeb.png"
                                                            class=" img-fluid d-block mx-auto "></div>
                                                </div>

                                                <div class="col-12 col-md-6 col-lg-8 text-left">

                                                    <div class="row no-gutters flex-wrap">
                                                        <div class="col-12 col-lg-4">
                                                            <div class="hv-subtitle">
                                                                NGƯỜI CHƠI
                                                            </div>

                                                            <h4 class="mb-2">Võ Tấn Phát</h4>
                                                            <h4 class="mb-2">Bùi Đại Nghĩa</h4>
                                                        </div>
                                                        <div class="col-12 col-lg-8 mt-3 mt-lg-0">

                                                            <div class="hv-subtitle">
                                                                TỔNG GIẢI THƯỞNG
                                                            </div>

                                                            <div class="hv-money h2">
                                                                844.996.000 ₫
                                                            </div>
                                                        </div>
                                                    </div>





                                                    <table class="table ds-table mt-4">
                                                        <thead class="thead-dark">
                                                            <tr>
                                                                <th scope="col" class="">Vòng</th>
                                                                <th scope="col">Số người chiến thắng và chọn dừng lại
                                                                </th>
                                                                <th scope="col" class="">Tiền
                                                                    thưởng
                                                                </th>

                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for item in range(0,3) %}
                                                            <tr>
                                                                <th scope="row" class="">
                                                                    {{ loop.index }}
                                                                </th>
                                                                <td>412 
                                                                </td>
                                                                <td class="">
                                                                        130.674 </td>

                                                            </tr>

                                                            {% endfor %}

                                                        </tbody>
                                                    </table>
                                                </div>


                                            </div>
                                        </div>


                                    </div>

                                    <div class="tab-pane fade " id="tap2" role="tabpanel">
                                        <div class="container hv-content  ">
                                            <div class="row align-items-center">
                                                <div class="col-12 col-md-6 col-lg-4  mb-4 mb-lg-0">
                                                    <div class="hv-img">
                                                        <img src="https://static.mservice.io/img/momo-upload-api-190809144409-637009586499571635.png"
                                                            class=" img-fluid d-block mx-auto "></div>
                                                </div>

                                                <div class="col-12 col-md-6 col-lg-4 text-left">


                                                    <div class="hv-subtitle">
                                                        NGƯỜI CHƠI
                                                    </div>

                                                    <h4 class="mb-2">Võ Tấn Phát</h4>
                                                    <h4 class="mb-2">Bùi Đại Nghĩa</h4>

                                                    <br>

                                                    <div class="hv-subtitle">
                                                        TỔNG GIẢI THƯỞNG
                                                    </div>

                                                    <div class="hv-money h2">
                                                        844.996.000 ₫
                                                    </div>
                                                </div>


                                            </div>
                                        </div>


                                    </div>


                                </div>


                            </div>
                        </div>




                    </div>
                </div>
            </div>

        </div>

    </div>


    <div class="section section-item text-left flash-item" data-anchor="huongdan">


        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-10 offset-lg-1">
                    <div class="thewall-section-container  ">


                        <div class="thewall-section bg-white px-4">

                            <div class="thewall-heading">
                                <h2 class="thewall-heading-txt animate-tada des-animated delay-0-5s">
                                    Hướng dẫn nhận ưu đãi cho khách hàng mới
                                </h2>
                            </div>

                            <div class="thewall-section-txt thewall-htu ">


                                <div class="row manual-device-swiper-container pt-4">
                                    <div class="col-12 col-lg-6 order-2 order-lg-1">
                                        <div class="manual-device d-block" id=hd-sub-img-466235 childid=466235>
                                            <div class=manual-device-stock></div>
                                            <div class=manual-device-slide>
                                                <div class="swiper-container manual-device-swiper" id=hd-sub-swp-466235>
                                                    <div class=swiper-wrapper>
                                                        <div class=swiper-slide><img
                                                                data-src=https://static.mservice.io/img/step-1.jpg
                                                                class="img-fluid lazyload"
                                                                alt="Chọn liên kết tài khoản">
                                                        </div>
                                                        <div class=swiper-slide><img
                                                                data-src=https://static.mservice.io/img/buoc%202.png
                                                                class="img-fluid lazyload" alt="Chọn “OceanBank”">
                                                        </div>
                                                        <div class=swiper-slide><img
                                                                data-src=https://static.mservice.io/img/momo-upload-api-190618133830-636964619102590719.jpg
                                                                class="img-fluid lazyload"
                                                                alt="Nhập thông tin tài khoản">
                                                        </div>
                                                        <div class=swiper-slide><img
                                                                data-src=https://static.mservice.io/img/buoc%204.png
                                                                class="img-fluid lazyload" alt="Nhập mã xác thực">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-6 order-1 order-lg-2">
                                        <ol class="process list-unstyled manual-process" childid=466235
                                            id=hd-sub-ctn-466235>
                                            <li class="process_item active">
                                                <div class=process__number><span>1</span></div>
                                                <div class=process__body>
                                                    <h4 class=process__body-title>Ch&#x1ECD;n
                                                        li&#xEA;n k&#x1EBF;t t&#xE0;i
                                                        kho&#x1EA3;n</h4>
                                                    <div class=process__body-content>
                                                        <p>Nhấn chọn &ldquo;<strong>Li&ecirc;n
                                                                kết t&agrave;i
                                                                khoản</strong>&rdquo; tr&ecirc;n
                                                            m&agrave;n h&igrave;nh ch&iacute;nh
                                                            hoặc Nhấn v&agrave;o
                                                            &ldquo;<strong>Li&ecirc;n kết
                                                                ngay</strong>&rdquo; tr&ecirc;n
                                                            một m&agrave;n h&igrave;nh bất
                                                            k&igrave;
                                                    </div>
                                                </div>
                                            <li class=process_item>
                                                <div class=process__number><span>2</span></div>
                                                <div class=process__body>
                                                    <h4 class=process__body-title>Ch&#x1ECD;n
                                                        &#x201C;OceanBank&#x201D;</h4>
                                                    <div class=process__body-content>
                                                        <p>Nhấn chọn logo <strong>OceanBank
                                                            </strong>tr&ecirc;n m&agrave;n
                                                            h&igrave;nh &ldquo;Li&ecirc;n kết
                                                            t&agrave;i khoản&rdquo; hoặc một
                                                            m&agrave;n h&igrave;nh bất kỳ </p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class=process_item>
                                                <div class=process__number><span>3</span></div>
                                                <div class=process__body>
                                                    <h4 class=process__body-title>Nh&#x1EAD;p
                                                        th&#xF4;ng tin t&#xE0;i kho&#x1EA3;n
                                                    </h4>
                                                    <div class=process__body-content>
                                                        <p>- Lưu &yacute;: Số điện thoại đăng
                                                            k&yacute; nhận OTP tại ng&acirc;n
                                                            h&agrave;ng OceanBank phải
                                                            tr&ugrave;ng với số V&iacute;
                                                            MoMo&nbsp;<br> - Nhập đầy đủ &amp;
                                                            ch&iacute;nh x&aacute;c c&aacute;c
                                                            th&ocirc;ng tin số thẻ/t&agrave;i
                                                            khoản theo y&ecirc;u cầu (c&aacute;c
                                                            th&ocirc;ng tin phải tr&ugrave;ng
                                                            khớp với th&ocirc;ng tin đ&atilde;
                                                            đăng k&yacute; ở OceanBank<br> -
                                                            Nhập đ&uacute;ng th&ocirc;ng tin họ
                                                            t&ecirc;n chủ thẻ/t&agrave;i khoản
                                                            đ&atilde; đăng k&yacute; với
                                                            ng&acirc;n h&agrave;ng. </p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class=process_item>
                                                <div class=process__number><span>4</span></div>
                                                <div class=process__body>
                                                    <h4 class=process__body-title>Nh&#x1EAD;p
                                                        m&#xE3; x&#xE1;c th&#x1EF1;c</h4>
                                                    <div class=process__body-content>
                                                        <p>Nhập m&atilde; x&aacute;c thực OTP từ
                                                            OceanBank để ho&agrave;n tất </p>
                                                    </div>
                                                </div>
                                            </li>
                                        </ol>
                                    </div>
                                </div>


                            </div>
                        </div>




                    </div>
                </div>
            </div>

        </div>

    </div>



    <div class="section section-item text-left flash-item" data-anchor="hoidap">


        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-10 offset-lg-1">
                    <div class="thewall-section-container   ">


                        <div class="thewall-section">

                            <div class="thewall-heading">
                                <h2 class="thewall-heading-txt animate-tada des-animated delay-0-5s">
                                    Các câu hỏi thường gặp
                                </h2>
                            </div>

                            <div class="thewall-section-txt   ">

                                <ul class="nav tt-nav   " id="pills-tab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" data-toggle="pill" href="#huongdan-1" role="tab"
                                            aria-controls="pills-home" aria-selected="true">Thể lệ chương trình</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="pill" href="#huongdan-2" role="tab"
                                            aria-controls="pills-profile" aria-selected="false">Cách nhận thưởng</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="pill" href="#huongdan-2" role="tab"
                                            aria-controls="pills-profile" aria-selected="false">Giỏ quà</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="pill" href="#huongdan-2" role="tab"
                                            aria-controls="pills-profile" aria-selected="false">Cách sử dụng quà</a>
                                    </li>

                                </ul>


                                <div class="tab-content" id="pills-tabContent">
                                    <div class="tab-pane fade show active" id="huongdan-1" role="tabpanel"
                                        aria-labelledby="pills-home-tab">


                                        <div id="promotionThele" class="help-center-accordion promotion-accordion">
                                            <div class="card">
                                                <div class="card-header">
                                                    <a class="card-link" data-toggle="collapse" href="#promotionThele1">
                                                        Đối tượng

                                                        <span class="card-link-icon minus">-</span>
                                                        <span class="card-link-icon plus">+</span>
                                                    </a>
                                                </div>
                                                <div id="promotionThele1" class="collapse show"
                                                    data-parent="#promotionThele">
                                                    <div class="card-body">
                                                        Khách hàng có ví MoMo trên smartphone thuộc hệ điều hành
                                                        Android
                                                        hoặc iOS.
                                                        Có tài
                                                        khoản
                                                        ngân
                                                        hàng Vietcombank, VietinBank, BIDV, ACB, TPBank, VPBank,
                                                        OCB,
                                                        Eximbank, VIB,
                                                        thẻ nội
                                                        địa
                                                        Sacombank, Shinhan Bank hoặc SCB.
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="card">
                                                <div class="card-header">
                                                    <a class="collapsed card-link" data-toggle="collapse"
                                                        href="#promotionThele2">
                                                        Điều kiện tham gia

                                                        <span class="card-link-icon minus">-</span>
                                                        <span class="card-link-icon plus">+</span>
                                                    </a>
                                                </div>
                                                <div id="promotionThele2" class="collapse"
                                                    data-parent="#promotionThele">
                                                    <div class="card-body">
                                                        <div>Chưa cập nhập nội dung ...</div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="card">
                                                <div class="card-header">
                                                    <a class="collapsed card-link" data-toggle="collapse"
                                                        href="#promotionThele3">
                                                        Các bước thực hiện

                                                        <span class="card-link-icon minus">-</span>
                                                        <span class="card-link-icon plus">+</span>
                                                    </a>
                                                </div>
                                                <div id="promotionThele3" class="collapse"
                                                    data-parent="#promotionThele">
                                                    <div class="card-body">
                                                        <div>Chưa cập nhập nội dung ...</div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="card">
                                                <div class="card-header">
                                                    <a class="collapsed card-link" data-toggle="collapse"
                                                        href="#promotionThele4">
                                                        Cơ cấu quà tặng

                                                        <span class="card-link-icon minus">-</span>
                                                        <span class="card-link-icon plus">+</span>
                                                    </a>
                                                </div>
                                                <div id="promotionThele4" class="collapse"
                                                    data-parent="#promotionThele">
                                                    <div class="card-body">
                                                        <div>Chưa cập nhập nội dung ...</div>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="card">
                                                <div class="card-header">
                                                    <a class="collapsed card-link" data-toggle="collapse"
                                                        href="#promotionThele5">
                                                        Quy định về thẻ quà tặng

                                                        <span class="card-link-icon minus">-</span>
                                                        <span class="card-link-icon plus">+</span>
                                                    </a>
                                                </div>
                                                <div id="promotionThele5" class="collapse"
                                                    data-parent="#promotionThele">
                                                    <div class="card-body">
                                                        <div>
                                                            <p>Chưa cập nhập nội dung ...</p>
                                                            <p>Chưa cập nhập nội dung ...</p>
                                                            <p>Chưa cập nhập nội dung ...</p>
                                                            <p>Chưa cập nhập nội dung ...</p>
                                                            <p>Chưa cập nhập nội dung ...</p>
                                                            <p>Chưa cập nhập nội dung ...</p>
                                                            <p>Chưa cập nhập nội dung ...</p>
                                                            <p>Chưa cập nhập nội dung ...</p>
                                                            <p>Chưa cập nhập nội dung ...</p>
                                                            <p>Chưa cập nhập nội dung ...</p>
                                                            <p>Chưa cập nhập nội dung ...</p>
                                                            <p>Chưa cập nhập nội dung ...</p>
                                                            <p>Chưa cập nhập nội dung ...</p>
                                                            <p>Chưa cập nhập nội dung ...</p>
                                                            <p>Chưa cập nhập nội dung ...</p>
                                                            <p>Chưa cập nhập nội dung ...</p>
                                                            <p>Chưa cập nhập nội dung ...</p>
                                                            <p>Chưa cập nhập nội dung ...</p>
                                                            <p>Chưa cập nhập nội dung ...</p>
                                                            <p>Chưa cập nhập nội dung ...</p>
                                                            <p>Chưa cập nhập nội dung ...</p>
                                                            <p>Chưa cập nhập nội dung ...</p>
                                                            <p>Chưa cập nhập nội dung ...</p>
                                                            <p>Chưa cập nhập nội dung ...</p>
                                                            <p>Chưa cập nhập nội dung ...</p>
                                                            <p>Chưa cập nhập nội dung ...</p>
                                                            <p>Chưa cập nhập nội dung ...</p>
                                                            <p>Chưa cập nhập nội dung ...</p>
                                                            <p>Chưa cập nhập nội dung ...</p>
                                                            <p>Chưa cập nhập nội dung ...</p>
                                                            <p>Chưa cập nhập nội dung ...</p>
                                                            <p>Chưa cập nhập nội dung ...</p>
                                                            <p>Chưa cập nhập nội dung ...</p>
                                                            <p>Chưa cập nhập nội dung ...</p>
                                                            <p>Chưa cập nhập nội dung ...</p>
                                                            <p>Chưa cập nhập nội dung ...</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>


                                    </div>
                                    <div class="tab-pane fade" id="huongdan-2" role="tabpanel"
                                        aria-labelledby="pills-profile-tab">
                                        ...
                                    </div>

                                </div>


                            </div>
                        </div>


                    </div>
                </div>




            </div>
        </div>
    </div>

    <div class="section section-item text-left flash-item" data-anchor="tintuc">

        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-10 offset-lg-1">
                    <div class="thewall-section-container   ">


                        <div class="thewall-section bg-white">

                            <div class="thewall-heading">
                                <h2 class="thewall-heading-txt animate-tada des-animated delay-0-5s">
                                    Tin tức
                                </h2>
                            </div>

                            <div class="thewall-section-txt   ">




                                <div class="row  ">
                                    <div class="col-12">

                                        <div class="new-feature"
                                            style="background-image:url(https://static.mservice.io/blogscontents/momo-upload-api-le-quay-so-770x370-190301091622.jpg);background-position:center top;background-size:contain;cursor:pointer">

                                            <div class="new-feature-content">


                                                <h3 class="new-feature-title"><a href="" class="" data-toggle="modal"
                                                        data-target=".des-modal-scroll" data-backdrop="">
                                                        Nhận ngay 100.000đ thanh toán mọi hóa đơn VNPT trên Ví MoMo
                                                    </a></h3>

                                                <ul class="new-meta clearfix list-inline mb-0">
                                                    <li class="list-inline-item">
                                                        1 giờ trước
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <svg class="svg-icon  new-meta-svg">
                                                            <use xlink:href="svg/svg.svg#svg-chat"></use>
                                                        </svg>
                                                        2 bình luận
                                                    </li>
                                                </ul>

                                            </div>

                                        </div>


                                        <div class="row">
                                            <div class="col-12 col-md-4 col-lg-4">
                                                <div class="new-item ">
                                                    <div class="new-item-img embed-responsive embed-responsive-16by9">
                                                        <a href="tintuc-detail.html" class="link-absolute"></a>
                                                        <img class="embed-responsive-img lazyloaded" alt=""
                                                            src="https://static.mservice.io/blogscontents/momo-upload-api-h3-190303170926.jpg">


                                                    </div>

                                                    <div class="new-item-content">

                                                        <h4 class="new-item-title"><a href="" class="link-black">Có
                                                                MoMo
                                                                -
                                                                Thanh toán Thẻ Vay
                                                                VietCredit siêu nhanh, có ngay “trợ lý điện tử”</a>
                                                        </h4>

                                                        <ul class="new-meta clearfix list-inline mb-0">
                                                            <li class="list-inline-item">
                                                                2 giờ trước
                                                            </li>
                                                            <li class="list-inline-item">
                                                                <svg class="svg-icon  new-meta-svg">
                                                                    <use xlink:href="svg/svg.svg#svg-chat"></use>
                                                                </svg>
                                                                0 bình luận
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-12 col-md-4 col-lg-4">
                                                <div class="new-item ">
                                                    <div class="new-item-img embed-responsive embed-responsive-16by9">
                                                        <a href="tintuc-detail.html" class="link-absolute"></a>
                                                        <img src="https://static.mservice.io/blogscontents/momo-upload-api-mm1392-1-190304143624.jpg"
                                                            class="embed-responsive-img" alt="">


                                                    </div>

                                                    <div class="new-item-content">

                                                        <h4 class="new-item-title"><a href="tintuc-detail.html"
                                                                class="link-black">Có MoMo, có
                                                                sức sống mỗi ngày
                                                                từ Vissan!</a></h4>

                                                        <ul class="new-meta clearfix list-inline mb-0">
                                                            <li class="list-inline-item">
                                                                2 giờ trước
                                                            </li>
                                                            <li class="list-inline-item">
                                                                <svg class="svg-icon  new-meta-svg">
                                                                    <use xlink:href="svg/svg.svg#svg-chat"></use>
                                                                </svg>
                                                                0 bình luận
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-12 col-md-4 col-lg-4">
                                                <div class="new-item ">
                                                    <div class="new-item-img embed-responsive embed-responsive-16by9">
                                                        <a href="tintuc-detail.html" class="link-absolute"></a>
                                                        <img class="embed-responsive-img lazyloaded" alt=""
                                                            src="https://static.mservice.io/blogscontents/momo-upload-api-viber%20image%202019-02-28%20,%2016.24.20-190228162947.jpg">


                                                    </div>

                                                    <div class="new-item-content">

                                                        <h4 class="new-item-title"><a href="tintuc-detail.html"
                                                                class="link-black">Mua bảo hiểm
                                                                VietinBank ngay
                                                                trên ứng dụng Ví MoMo</a></h4>

                                                        <ul class="new-meta clearfix list-inline mb-0">
                                                            <li class="list-inline-item">
                                                                2 giờ trước
                                                            </li>
                                                            <li class="list-inline-item">
                                                                <svg class="svg-icon  new-meta-svg">
                                                                    <use xlink:href="svg/svg.svg#svg-chat"></use>
                                                                </svg>
                                                                0 bình luận
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                    </div>

                                    <div class="col-12 text-center mt-2">
                                        <a href="" class="btn btn-momo ">XEM TẤT CẢ</a>
                                    </div>


                                </div>



                            </div>
                        </div>


                    </div>
                </div>




            </div>
        </div>
    </div>

</div>








{% endblock %}