{% set title = 'Gulp Des Index' %}
{% set page = 'index.html' %}

{% extends 'layouts/application.html' %}

{% import 'macros/helpers.html' as macro %}


{% block content %}

<div class="game-container-pattern" style="background-image:url('img/space.png')"></div>

<script>

    var speed = 1;
    var minimum = 35;
    var maximum = 50;

</script>
<canvas id="fireworks"></canvas>

<div class="home-flash-section home-flash-section-dark section" id="home">


    <div class="section-item about-flash thewall-hero text-left">
        <div class="flash-pin-1"></div>
        <div class="flash-item-nav item-nav-1"><a href="#home">Tường lửa</a></div>

        <div class="container ">

            <div class="row no-gutters align-items-center thewall-hero-h">
                <div class="col-6">
                    <div class="wow bounceInUp" data-wow-delay=".3s" data-wow-offset="100">
                        <img src="img/des/hero-txt.png" class="img-fluid mx-auto d-block " alt="">

                    </div>
                </div>
                <div class="col-6">

                </div>



            </div>

        </div>


        <div class="thewall-people">
            <div class="wow bounceInUp" data-wow-delay="0.7s" data-wow-offset="100">
                <img src="img/des/hero-img.png" class="img-fluid mx-auto d-block" alt="">
            </div>
        </div>
    </div>

    <div class="section-item text-left flash-item  " id="about">
        <div class="flash-pin-2"></div>
        <div class="flash-item-nav item-nav-2"><a href="#about">Thể lệ</a></div>
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-10 offset-lg-1">
                    <div class="thewall-section-container   " >
                    

                        <div class="thewall-section " >

                            <div class="thewall-heading">
                                <h2 class="thewall-heading-txt wow tada " data-wow-offset="150"
                                data-wow-duration="1s" data-wow-delay=".5s">
                                    THỂ LỆ GAME TƯỜNG LỬA
                                </h2>
                            </div>

                            <div class="thewall-section-txt wow fadeInUp " data-wow-offset="50"
                            data-wow-duration="1s" data-wow-delay=".2s">
                                Mỗi tập có 3 vòng, tổng cộng 11 câu hỏi: <br>
                                Vòng 1: 5 câu hỏi, 2 đáp án/mỗi câu hỏi <br>
                                Vòng 2: 3 câu hỏi, 3 đáp án/mỗi câu hỏi <br>
                                Vòng 3: 3 câu hỏi, 4 đáp án/mỗi câu hỏi <br>
                                Thời gian trả lời các câu hỏi là 10 giây. <br>
                                Người chơi vượt qua vòng 1 hoặc vòng 2 phải lựa chọn chơi tiếp hoặc dừng <br>lại để nhận
                                tiền thưởng tại vòng 1 hoặc vòng 2. Nếu người chơi trả lời sai bất kỳ câu hỏi nào trong
                                các vòng chơi thì sẽ không được nằm trong danh sách chia thưởng của vòng đó và cũng
                                không nhận được giải bất kỳ phần thường nào....
                            </div>
                        </div>




                    </div>
                </div>
            </div>

        </div>
    </div>



    <div class="section-item text-left flash-item" id="services">

        <div class="flash-pin-3"></div>
        <div class="flash-item-nav item-nav-3"><a href="#about">Giải thưởng</a></div>
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-10 offset-lg-1">
                    <div class="thewall-section-container  mask-skew ">
                   

                        <div class="thewall-section">

                            <div class="thewall-heading">
                                <h2 class="thewall-heading-txt wow tada " data-wow-offset="150"
		data-wow-duration="1s" data-wow-delay=".5s">
                                    TỔNG GIẢI THƯỞNG LỚN NHẤT TỪ TRƯỚC ĐẾN NAY
                                </h2>
                            </div>

                            <div class="thewall-section-txt wow fadeInUp " data-wow-offset="50"
                            data-wow-duration="1s" data-wow-delay=".2s">


                                <div class="tw-1">
                                    TỐI THỨ 5
                                </div>


                                <div>
                                    <!-- Nav tabs -->
                                    <div class="text-center">
                                        <ul class="nav text-center tw-2 ">
                                            <li class="nav-item">
                                                <a class="nav-link active" data-toggle="tab" href="#vong1">Vòng 1</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" data-toggle="tab" href="#vong2">Vòng 2</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" data-toggle="tab" href="#vong3">Vòng 3</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- Tab panes -->
                                    <div class="tab-content">
                                        <div class="tab-pane active container" id="vong1">

                                            <p>
                                                Tổng tiền giải thưởng vòng 1 = Số tiền được công bố trước của vòng 1
                                            </p>
                                            <p>
                                                Số tiền người chơi dừng lại ở vòng 1 nhận = Tổng tiền giải vòng 1 chia
                                                cho Số người chơi vượt qua vòng 1
                                            </p>
                                            <p>
                                                Số tiền còn lại của vòng 1 = Tổng tiền giải vòng 1 trừ đi Tổng số tiền
                                                của các người chơi chọn dừng lại ở vòng 1 nhận. Số tiền này sẽ được cộng
                                                dồn vào giải thưởng của vòng 2
                                            </p>

                                        </div>
                                        <div class="tab-pane container" id="vong2">...</div>
                                        <div class="tab-pane container" id="vong3">...</div>
                                    </div>
                                </div>

                            </div>
                        </div>




                    </div>
                </div>
            </div>

        </div>

    </div>



    <div class="section-item text-left flash-item" id="services">

        <div class="flash-pin-4"></div>
        <div class="flash-item-nav item-nav-4"><a href="#about">Vật phẩm</a></div>
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-10 offset-lg-1">
                    <div class="thewall-section-container  mask-skew " >
                    

                        <div class="thewall-section">

                            <div class="thewall-heading">
                                <h2 class="thewall-heading-txt wow tada " data-wow-offset="150"
                                data-wow-duration="1s" data-wow-delay=".5s">
                                    Sử dụng vật phẩm tăng cơ hội chiến thắng
                                </h2>
                            </div>

                            <div class="thewall-section-txt wow fadeInUp " data-wow-offset="50"
                            data-wow-duration="0.5s" data-wow-delay=".7s">
                                <div>
                                    <!-- Nav tabs -->
                                    <div class="text-center">
                                        <ul class="nav text-center tw-3 ">
                                            <li class="nav-item">
                                                <a class="nav-link active" data-toggle="tab" href="#vp1">

                                                    <img src="img/des/vt1.png" width="50" class="mr-2" alt="">

                                                    Phao cứu sinh</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" data-toggle="tab" href="#vp2">

                                                    <img src="img/des/vt2.png" width="50" class="mr-2" alt="">
                                                    Xóa đáp án</a>
                                            </li>

                                        </ul>
                                    </div>
                                    <!-- Tab panes -->
                                    <div class="tab-content">
                                        <div class="tab-pane active container" id="vp1">

                                            <p>
                                                Vật phẩm chỉ được áp dụng khi người chơi có trả lời câu hỏi nhưng đáp án
                                                sai.


                                            </p>
                                            <p>
                                                Khi sử dụng, người chơi trả lời sai vẫn sẽ được tham gia tiếp chương
                                                trình hiện tại.
                                            </p>
                                            <p>
                                                Vật phẩm Phao Cứu Sinh chỉ áp dụng từ câu số 1 - câu số 8
                                                Người chơi sử dụng Phao Cứu Sinh tối đa 1 lần trong 1 tập
                                                Vật phẩm được tự động kích hoạt khi người chơi trả lời sai.
                                            </p>

                                            <p>
                                                <i>
                                                    *Người chơi có thể tích lũy các vật phẩm bằng cách hoàn thành các
                                                    nhiệm vụ trước khi mỗi tập diễn ra, chi tiết xem phần nhiệm vụ.
                                                </i>
                                            </p>

                                        </div>
                                        <div class="tab-pane container" id="vp2">...</div>
                                    </div>
                                </div>

                            </div>
                        </div>




                    </div>
                </div>
            </div>

        </div>

    </div>






    <div class="section-item text-left flash-item" id="services">

        <div class="flash-pin-5"></div>
        <div class="flash-item-nav item-nav-5"><a href="#about">Nhiệm vụ</a></div>
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-10 offset-lg-1">
                    <div class="thewall-section-container  mask-skew">
                     

                        <div class="thewall-section">

                            <div class="thewall-heading">
                                <h2 class="thewall-heading-txt wow tada " data-wow-offset="150"
		data-wow-duration="1s" data-wow-delay=".5s">
                                    Làm nhiệm vụ nhận vật phẩm
                                </h2>
                            </div>

                            <div class="thewall-section-txt py-4">

                                <div class="row">
                                    <div class="col-6 col-lg-3 wow fadeInUp" data-wow-offset="50"
                                    data-wow-duration="0.5s" data-wow-delay=".3s">
                                        <div>
                                            <img src="img/des/var1.png" width="190" class="img-fluid mx-auto d-block"
                                                alt="">
                                        </div>

                                        <div class="h5 mt-4  mb-3 text-center">
                                            Giới thiệu bạn bè
                                        </div>
                                    </div>

                                    <div class="col-6 col-lg-3 wow fadeInUp" data-wow-offset="50"
                                    data-wow-duration="0.5s" data-wow-delay=".6s">
                                        <div>
                                            <img src="img/des/var2.png" width="190" class="img-fluid mx-auto d-block"
                                                alt="">
                                        </div>

                                        <div class="h5 mt-4 mb-3 text-center">
                                            Liên kết ngân hàng
                                        </div>
                                    </div>

                                    <div class="col-6 col-lg-3 wow fadeInUp" data-wow-offset="50"
                                    data-wow-duration="0.5s" data-wow-delay=".9s">
                                        <div>
                                            <img src="img/des/var3.png" width="190" class="img-fluid mx-auto d-block"
                                                alt="">
                                        </div>

                                        <div class="h5 mt-4  mb-3 text-center">
                                            Chơi cùng bạn bè
                                        </div>
                                    </div>

                                    <div class="col-6 col-lg-3 wow fadeInUp" data-wow-offset="50"
                                    data-wow-duration="0.5s" data-wow-delay="1.2s">
                                        <div>
                                            <img src="img/des/var4.png" width="190" class="img-fluid mx-auto d-block"
                                                alt="">
                                        </div>

                                        <div class="h5 mt-4   mb-3 text-center">
                                            Chia sẻ Facebook
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>




                    </div>
                </div>
            </div>

        </div>

    </div>



    <div class="section-item text-left flash-item" id="services">

        <div class="flash-pin-6"></div>
        <div class="flash-item-nav item-nav-6"><a href="#about">Ưu đãi</a></div>
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-10 offset-lg-1">
                    <div class="thewall-section-container  mask-skew ">
                       

                        <div class="thewall-section px-4">

                            <div class="thewall-heading">
                                <h2 class="thewall-heading-txt wow tada " data-wow-offset="150"
                                data-wow-duration="1s" data-wow-delay=".5s">
                                    Ưu đãi dành cho khách hàng mới
                                </h2>
                            </div>

                            <div class="thewall-section-txt ">

                                <div class="tw-5-container">

                                    {% for item in range(0,10) %}
                                    <div class="tw-5-item wow fadeInUp" data-wow-offset="50"
                                    data-wow-duration="0.5s" data-wow-delay="{{loop.index * 0.1}}s">
                                        <div>
                                            <img src="img/des/qua1.png" class="img-fluid" alt="">
                                        </div>

                                        <div class="tw-5">
                                            Thẻ quà Nạp ĐT, Mua mã thẻ
                                        </div>
                                    </div>

                                    {% endfor %}
                                </div>


                            </div>
                        </div>




                    </div>
                </div>
            </div>

        </div>

    </div>



    <div class="section-item text-left flash-item" id="services">

        <div class="flash-pin-7"></div>
        <div class="flash-item-nav item-nav-7"><a href="#about">Khách hàng mới</a></div>
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-10 offset-lg-1">
                    <div class="thewall-section-container  mask-skew wow fadeIn" data-wow-offset="250"
                        data-wow-duration="0.2s" data-wow-delay=".3s">
                        <div class="mask wow slideInLeft" data-wow-offset="250" data-wow-duration="1.2s"
                            data-wow-delay=".3s">
                            <div class="inside"></div>
                        </div>

                        <div class="thewall-section bg-white px-4">

                            <div class="thewall-heading">
                                <h2 class="thewall-heading-txt">
                                    Hướng dẫn nhận ưu đãi cho khách hàng mới
                                </h2>
                            </div>

                            <div class="thewall-section-txt thewall-htu ">


                                <div class="row manual-device-swiper-container pt-4">
                                    <div class="col-12 col-lg-6 order-2 order-lg-1">
                                        <div class="manual-device d-block" id=hd-sub-img-466235 childid=466235>
                                            <div class=manual-device-stock></div>
                                            <div class=manual-device-slide>
                                                <div class="swiper-container manual-device-swiper" id=hd-sub-swp-466235>
                                                    <div class=swiper-wrapper>
                                                        <div class=swiper-slide><img
                                                                data-src=https://static.mservice.io/img/step-1.jpg
                                                                class="img-fluid lazyload"
                                                                alt="Chọn liên kết tài khoản">
                                                        </div>
                                                        <div class=swiper-slide><img
                                                                data-src=https://static.mservice.io/img/buoc%202.png
                                                                class="img-fluid lazyload" alt="Chọn “OceanBank”"></div>
                                                        <div class=swiper-slide><img
                                                                data-src=https://static.mservice.io/img/momo-upload-api-190618133830-636964619102590719.jpg
                                                                class="img-fluid lazyload"
                                                                alt="Nhập thông tin tài khoản">
                                                        </div>
                                                        <div class=swiper-slide><img
                                                                data-src=https://static.mservice.io/img/buoc%204.png
                                                                class="img-fluid lazyload" alt="Nhập mã xác thực"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-6 order-1 order-lg-2">
                                        <ol class="process list-unstyled manual-process" childid=466235
                                            id=hd-sub-ctn-466235>
                                            <li class="process_item active">
                                                <div class=process__number><span>1</span></div>
                                                <div class=process__body>
                                                    <h4 class=process__body-title>Ch&#x1ECD;n
                                                        li&#xEA;n k&#x1EBF;t t&#xE0;i
                                                        kho&#x1EA3;n</h4>
                                                    <div class=process__body-content>
                                                        <p>Nhấn chọn &ldquo;<strong>Li&ecirc;n
                                                                kết t&agrave;i
                                                                khoản</strong>&rdquo; tr&ecirc;n
                                                            m&agrave;n h&igrave;nh ch&iacute;nh
                                                            hoặc Nhấn v&agrave;o
                                                            &ldquo;<strong>Li&ecirc;n kết
                                                                ngay</strong>&rdquo; tr&ecirc;n
                                                            một m&agrave;n h&igrave;nh bất
                                                            k&igrave;
                                                    </div>
                                                </div>
                                            <li class=process_item>
                                                <div class=process__number><span>2</span></div>
                                                <div class=process__body>
                                                    <h4 class=process__body-title>Ch&#x1ECD;n
                                                        &#x201C;OceanBank&#x201D;</h4>
                                                    <div class=process__body-content>
                                                        <p>Nhấn chọn logo <strong>OceanBank
                                                            </strong>tr&ecirc;n m&agrave;n
                                                            h&igrave;nh &ldquo;Li&ecirc;n kết
                                                            t&agrave;i khoản&rdquo; hoặc một
                                                            m&agrave;n h&igrave;nh bất kỳ
                                                    </div>
                                                </div>
                                            <li class=process_item>
                                                <div class=process__number><span>3</span></div>
                                                <div class=process__body>
                                                    <h4 class=process__body-title>Nh&#x1EAD;p
                                                        th&#xF4;ng tin t&#xE0;i kho&#x1EA3;n
                                                    </h4>
                                                    <div class=process__body-content>
                                                        <p>- Lưu &yacute;: Số điện thoại đăng
                                                            k&yacute; nhận OTP tại ng&acirc;n
                                                            h&agrave;ng OceanBank phải
                                                            tr&ugrave;ng với số V&iacute;
                                                            MoMo&nbsp;<br> - Nhập đầy đủ &amp;
                                                            ch&iacute;nh x&aacute;c c&aacute;c
                                                            th&ocirc;ng tin số thẻ/t&agrave;i
                                                            khoản theo y&ecirc;u cầu (c&aacute;c
                                                            th&ocirc;ng tin phải tr&ugrave;ng
                                                            khớp với th&ocirc;ng tin đ&atilde;
                                                            đăng k&yacute; ở OceanBank<br> -
                                                            Nhập đ&uacute;ng th&ocirc;ng tin họ
                                                            t&ecirc;n chủ thẻ/t&agrave;i khoản
                                                            đ&atilde; đăng k&yacute; với
                                                            ng&acirc;n h&agrave;ng.
                                                    </div>
                                                </div>
                                            <li class=process_item>
                                                <div class=process__number><span>4</span></div>
                                                <div class=process__body>
                                                    <h4 class=process__body-title>Nh&#x1EAD;p
                                                        m&#xE3; x&#xE1;c th&#x1EF1;c</h4>
                                                    <div class=process__body-content>
                                                        <p>Nhập m&atilde; x&aacute;c thực OTP từ
                                                            OceanBank để ho&agrave;n tất
                                                    </div>
                                                </div>
                                        </ol>
                                    </div>
                                </div>


                            </div>
                        </div>




                    </div>
                </div>
            </div>

        </div>

    </div>



    <div class="section-item text-left flash-item" id="services">

        <div class="flash-pin-8"></div>
        <div class="flash-item-nav item-nav-8"><a href="#about">Hỏi đáp</a></div>
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-10 offset-lg-1">
                    <div class="thewall-section-container   mask-skew wow fadeIn" data-wow-offset="250"
                        data-wow-duration="0.2s" data-wow-delay=".3s">
                        <div class="mask wow slideInLeft" data-wow-offset="250" data-wow-duration="1.2s"
                            data-wow-delay=".3s">
                            <div class="inside"></div>
                        </div>

                        <div class="thewall-section">

                            <div class="thewall-heading">
                                <h2 class="thewall-heading-txt">
                                    Các câu hỏi thường gặp
                                </h2>
                            </div>

                            <div class="thewall-section-txt   ">

                                <ul class="nav tt-nav   " id="pills-tab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" data-toggle="pill" href="#huongdan-1" role="tab"
                                            aria-controls="pills-home" aria-selected="true">Thể lệ chương trình</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="pill" href="#huongdan-2" role="tab"
                                            aria-controls="pills-profile" aria-selected="false">Cách nhận thưởng</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="pill" href="#huongdan-2" role="tab"
                                            aria-controls="pills-profile" aria-selected="false">Giỏ quà</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="pill" href="#huongdan-2" role="tab"
                                            aria-controls="pills-profile" aria-selected="false">Cách sử dụng quà</a>
                                    </li>

                                </ul>


                                <div class="tab-content" id="pills-tabContent">
                                    <div class="tab-pane fade show active" id="huongdan-1" role="tabpanel"
                                        aria-labelledby="pills-home-tab">


                                        <div id="promotionThele" class="help-center-accordion promotion-accordion">
                                            <div class="card">
                                                <div class="card-header">
                                                    <a class="card-link" data-toggle="collapse" href="#promotionThele1">
                                                        Đối tượng

                                                        <span class="card-link-icon minus">-</span>
                                                        <span class="card-link-icon plus">+</span>
                                                    </a>
                                                </div>
                                                <div id="promotionThele1" class="collapse show"
                                                    data-parent="#promotionThele">
                                                    <div class="card-body">
                                                        Khách hàng có ví MoMo trên smartphone thuộc hệ điều hành Android
                                                        hoặc iOS.
                                                        Có tài
                                                        khoản
                                                        ngân
                                                        hàng Vietcombank, VietinBank, BIDV, ACB, TPBank, VPBank, OCB,
                                                        Eximbank, VIB,
                                                        thẻ nội
                                                        địa
                                                        Sacombank, Shinhan Bank hoặc SCB.
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="card">
                                                <div class="card-header">
                                                    <a class="collapsed card-link" data-toggle="collapse"
                                                        href="#promotionThele2">
                                                        Điều kiện tham gia

                                                        <span class="card-link-icon minus">-</span>
                                                        <span class="card-link-icon plus">+</span>
                                                    </a>
                                                </div>
                                                <div id="promotionThele2" class="collapse"
                                                    data-parent="#promotionThele">
                                                    <div class="card-body">
                                                        <div>Chưa cập nhập nội dung ...</div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="card">
                                                <div class="card-header">
                                                    <a class="collapsed card-link" data-toggle="collapse"
                                                        href="#promotionThele3">
                                                        Các bước thực hiện

                                                        <span class="card-link-icon minus">-</span>
                                                        <span class="card-link-icon plus">+</span>
                                                    </a>
                                                </div>
                                                <div id="promotionThele3" class="collapse"
                                                    data-parent="#promotionThele">
                                                    <div class="card-body">
                                                        <div>Chưa cập nhập nội dung ...</div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="card">
                                                <div class="card-header">
                                                    <a class="collapsed card-link" data-toggle="collapse"
                                                        href="#promotionThele4">
                                                        Cơ cấu quà tặng

                                                        <span class="card-link-icon minus">-</span>
                                                        <span class="card-link-icon plus">+</span>
                                                    </a>
                                                </div>
                                                <div id="promotionThele4" class="collapse"
                                                    data-parent="#promotionThele">
                                                    <div class="card-body">
                                                        <div>Chưa cập nhập nội dung ...</div>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="card">
                                                <div class="card-header">
                                                    <a class="collapsed card-link" data-toggle="collapse"
                                                        href="#promotionThele5">
                                                        Quy định về thẻ quà tặng

                                                        <span class="card-link-icon minus">-</span>
                                                        <span class="card-link-icon plus">+</span>
                                                    </a>
                                                </div>
                                                <div id="promotionThele5" class="collapse"
                                                    data-parent="#promotionThele">
                                                    <div class="card-body">
                                                        <div>Chưa cập nhập nội dung ...</div>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>


                                    </div>
                                    <div class="tab-pane fade" id="huongdan-2" role="tabpanel"
                                        aria-labelledby="pills-profile-tab">
                                        ...
                                    </div>

                                </div>


                            </div>
                        </div>


                    </div>
                </div>




            </div>
        </div>
    </div>

    <div class="section-item text-left flash-item" id="services">

        <div class="flash-pin-9"></div>
        <div class="flash-item-nav item-nav-9"><a href="#about">Tin tức</a></div>
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-10 offset-lg-1">
                    <div class="thewall-section-container   mask-skew wow fadeIn" data-wow-offset="250"
                        data-wow-duration="0.2s" data-wow-delay=".3s">
                        <div class="mask wow slideInLeft" data-wow-offset="250" data-wow-duration="1.2s"
                            data-wow-delay=".3s">
                            <div class="inside"></div>
                        </div>

                        <div class="thewall-section bg-white">

                            <div class="thewall-heading">
                                <h2 class="thewall-heading-txt">
                                    Tin tức
                                </h2>
                            </div>

                            <div class="thewall-section-txt   ">




                                <div class="row  ">
                                    <div class="col-12">

                                        <div class="new-feature"
                                            style="background-image:url(https://static.mservice.io/blogscontents/momo-upload-api-le-quay-so-770x370-190301091622.jpg);background-position:center top;background-size:contain;cursor:pointer">

                                            <div class="new-feature-content">


                                                <h3 class="new-feature-title"><a href="" class="" data-toggle="modal"
                                                        data-target=".des-modal-scroll" data-backdrop="">
                                                        Nhận ngay 100.000đ thanh toán mọi hóa đơn VNPT trên Ví MoMo
                                                    </a></h3>

                                                <ul class="new-meta clearfix list-inline mb-0">
                                                    <li class="list-inline-item">
                                                        1 giờ trước
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <svg class="svg-icon  new-meta-svg">
                                                            <use xlink:href="svg/svg.svg#svg-chat"></use>
                                                        </svg>
                                                        2 bình luận
                                                    </li>
                                                </ul>

                                            </div>

                                        </div>


                                        <div class="row">
                                            <div class="col-12 col-md-4 col-lg-4">
                                                <div class="new-item ">
                                                    <div class="new-item-img embed-responsive embed-responsive-16by9">
                                                        <a href="tintuc-detail.html" class="link-absolute"></a>
                                                        <img class="embed-responsive-img lazyloaded" alt=""
                                                            src="https://static.mservice.io/blogscontents/momo-upload-api-h3-190303170926.jpg">


                                                    </div>

                                                    <div class="new-item-content">

                                                        <h4 class="new-item-title"><a href="" class="link-black">Có MoMo
                                                                -
                                                                Thanh toán Thẻ Vay
                                                                VietCredit siêu nhanh, có ngay “trợ lý điện tử”</a></h4>

                                                        <ul class="new-meta clearfix list-inline mb-0">
                                                            <li class="list-inline-item">
                                                                2 giờ trước
                                                            </li>
                                                            <li class="list-inline-item">
                                                                <svg class="svg-icon  new-meta-svg">
                                                                    <use xlink:href="svg/svg.svg#svg-chat"></use>
                                                                </svg>
                                                                0 bình luận
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-12 col-md-4 col-lg-4">
                                                <div class="new-item ">
                                                    <div class="new-item-img embed-responsive embed-responsive-16by9">
                                                        <a href="tintuc-detail.html" class="link-absolute"></a>
                                                        <img src="https://static.mservice.io/blogscontents/momo-upload-api-mm1392-1-190304143624.jpg"
                                                            class="embed-responsive-img" alt="">


                                                    </div>

                                                    <div class="new-item-content">

                                                        <h4 class="new-item-title"><a href="tintuc-detail.html"
                                                                class="link-black">Có MoMo, có
                                                                sức sống mỗi ngày
                                                                từ Vissan!</a></h4>

                                                        <ul class="new-meta clearfix list-inline mb-0">
                                                            <li class="list-inline-item">
                                                                2 giờ trước
                                                            </li>
                                                            <li class="list-inline-item">
                                                                <svg class="svg-icon  new-meta-svg">
                                                                    <use xlink:href="svg/svg.svg#svg-chat"></use>
                                                                </svg>
                                                                0 bình luận
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-12 col-md-4 col-lg-4">
                                                <div class="new-item ">
                                                    <div class="new-item-img embed-responsive embed-responsive-16by9">
                                                        <a href="tintuc-detail.html" class="link-absolute"></a>
                                                        <img class="embed-responsive-img lazyloaded" alt=""
                                                            src="https://static.mservice.io/blogscontents/momo-upload-api-viber%20image%202019-02-28%20,%2016.24.20-190228162947.jpg">


                                                    </div>

                                                    <div class="new-item-content">

                                                        <h4 class="new-item-title"><a href="tintuc-detail.html"
                                                                class="link-black">Mua bảo hiểm
                                                                VietinBank ngay
                                                                trên ứng dụng Ví MoMo</a></h4>

                                                        <ul class="new-meta clearfix list-inline mb-0">
                                                            <li class="list-inline-item">
                                                                2 giờ trước
                                                            </li>
                                                            <li class="list-inline-item">
                                                                <svg class="svg-icon  new-meta-svg">
                                                                    <use xlink:href="svg/svg.svg#svg-chat"></use>
                                                                </svg>
                                                                0 bình luận
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                    </div>

                                    <div class="col-12 text-center mt-2">
                                        <a href="" class="btn btn-momo ">XEM TẤT CẢ</a>
                                    </div>


                                </div>



                            </div>
                        </div>


                    </div>
                </div>




            </div>
        </div>
    </div>

</div>








{% endblock %}