{% set title = 'Gulp Des Index' %}
{% set page = 'index.html' %}

{% extends 'layouts/application.html' %}

{% import 'macros/helpers.html' as macro %}


{% block content %}

<div class="game-container-pattern" style="background-image:url('img/space.png')"></div>

<script>

    var speed = 1;
    var minimum = 35;
    var maximum = 50;

</script>
<canvas id="fireworks"></canvas>


<div class="home-piling a-pagepiling full-height">


    <div class="section pp-scrollable slide slide1 slide-dark">
        <div class="slide-container">
            <div class="video-container a-video" data-vimeo-width="640" data-vimeo-height="360"><iframe
                    src="https://player.vimeo.com/video/107714608?title=0&byline=0&portrait=0&autoplay=1&autopause=0&muted=1&background=1"
                    allowfullscreen></iframe></div>
            <div class="slide-bg">
                <div class="inside"></div>
            </div>
            <div class="slide-video-container slide-container">
                <div class="container">
                    <div class="row slide-content">
                        <div class="col-sm-7">
                            <h1 class="slide-title font-libre"><span class="text-primary">Ideas</span><br /> Come from
                                Natural</h1>
                            <div class="slide-body">
                                <h3 class="slide-title-sub">branding &amp; interaction</h3>
                                <div class="slide-descr">We create high quality products to help<br /> the life
                                    interested & better</div>
                            </div>
                        </div>
                    </div>
                    <button class="btn-play a-video-play"><i class="icon ion-ios-play"></i></button>
                </div>
            </div>
        </div>
    </div>

    <div class="section pp-scrollable slide slide2">
        <div class="slide-container">
            <div class="slide-bg slide-bg-circle">
                <div class="inside"></div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="solution-num text-texture">25</div>
                        <div class="solution-num-title">Years<br /> Experience</div>
                    </div>
                    <div class="col-lg-6">
                        <h2 class="slide-title font-libre">Best solution<br /> for business &amp;<br /> start-up </h2>

                        <div class="accordion solution-collapse" id="solutions">
                            <div class="solution-collapse-item">
                                <div class="solution-collapse-item-title font-libre" id="headingOne">
                                    <a class="" href="" data-toggle="collapse" data-target="#solution1"
                                        aria-expanded="true" aria-controls="solution1">
                                        Graphic & Branding
                                        <i class="icon-plus"></i>
                                    </a>
                                </div>

                                <div id="solution1" class="collapse show" aria-labelledby="headingOne"
                                    data-parent="#solutions">
                                    <div class="card-body">
                                        Designing for an optimal digital experience. intuitive and user friendly. Our
                                        websites, platforms and apps are built for the way your users behave to ensure
                                        an experience that will make them come back for more.... <a
                                            href="service.html">See more</a>
                                    </div>
                                </div>
                            </div>
                            <div class="solution-collapse-item">
                                <div class="solution-collapse-item-title font-libre" id="headingTwo">
                                    <a class=" collapsed" href="" data-toggle="collapse" data-target="#solution2"
                                        aria-expanded="false" aria-controls="solution2">
                                        UI/UX Interaction
                                        <i class="icon-plus"></i>
                                    </a>
                                </div>
                                <div id="solution2" class="collapse" aria-labelledby="headingTwo"
                                    data-parent="#solutions">
                                    <div class="card-body">
                                        Designing for an optimal digital experience. intuitive and user friendly. Our
                                        websites, platforms and apps are built for the way your users behave to ensure
                                        an experience that will make them come back for more.... <a
                                            href="service.html">See more</a>
                                    </div>
                                </div>
                            </div>
                            <div class="solution-collapse-item">
                                <div class="solution-collapse-item-title font-libre" id="headingThree">
                                    <a class=" collapsed" href="" data-toggle="collapse" data-target="#solution3"
                                        aria-expanded="false" aria-controls="solution3">
                                        Motion Video
                                        <i class="icon-plus"></i>
                                    </a>
                                </div>
                                <div id="solution3" class="collapse" aria-labelledby="headingThree"
                                    data-parent="#solutions">
                                    <div class="card-body">
                                        Designing for an optimal digital experience. intuitive and user friendly. Our
                                        websites, platforms and apps are built for the way your users behave to ensure
                                        an experience that will make them come back for more.... <a
                                            href="service.html">See more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section pp-scrollable slide slide3 slide-dark">
        <div class="slide-container">
            <div class="slide-bg-list">
                <div class="slide-bg active">
                    <div class="inside" style="background-image: url(img/piling-project1.jpg);"></div>
                </div>
                <div class="slide-bg">
                    <div class="inside" style="background-image: url(img/piling-project2.jpg);"></div>
                </div>
                <div class="slide-bg">
                    <div class="inside" style="background-image: url(img/piling-project3.jpg);"></div>
                </div>
                <div class="slide-bg">
                    <div class="inside" style="background-image: url(img/piling-project4.jpg);"></div>
                </div>
                <div class="slide-bg">
                    <div class="inside" style="background-image: url(img/piling-project5.jpg);"></div>
                </div>
            </div>
            <div class="container">
                <div class="piling-project-list-title">Latest projects</div>
                <div class="row piling-project-list">
                    <div class="col-xl-4 col-6 piling-project-item">
                        <h3 class="piling-project-title font-libre"><a href="single-project-mobile-app.html"
                                class="a-change-bg">Boranito<br /> Skate</a></h3>
                        <div class="piling-project-detail">2018 / Interaction</div>
                    </div>
                    <div class="col-xl-4 col-6 piling-project-item">
                        <h3 class="piling-project-title font-libre"><a href="single-project-branding.html"
                                class="a-change-bg">Rick<br /> Meyers</a></h3>
                        <div class="piling-project-detail">2018 / Branding</div>
                    </div>
                    <div class="col-xl-4 col-6 piling-project-item">
                        <h3 class="piling-project-title font-libre"><a href="single-project-branding.html"
                                class="a-change-bg">ICO Bottle<br /> Opener</a></h3>
                        <div class="piling-project-detail">2018 / Branding</div>
                    </div>
                    <div class="col-xl-4 col-6 piling-project-item">
                        <h3 class="piling-project-title font-libre"><a href="single-project-web-design.html"
                                class="a-change-bg">Onne<br /> Portfolio</a></h3>
                        <div class="piling-project-detail">2017 / Interaction</div>
                    </div>
                    <div class="col-xl-4 col-6 piling-project-item">
                        <h3 class="piling-project-title font-libre"><a href="single-project-branding.html"
                                class="a-change-bg">Dark<br /> Bottle</a></h3>
                        <div class="piling-project-detail">2017 / Branding</div>
                    </div>
                    <div class="col-xl-4 col-6">
                        <div class="piling-more-total">
                            <a href="work-metro.html">more<br /> projects</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section pp-scrollable slide slide4">
        <div class="slide-container">
            <div class="container">
                <h2 class="slide-title font-libre">Trusted from Clients</h2>
                <div class="slide-descr text-grey">Help business can be optimized profit and improve value of brand is
                    our vision.</div>

                <div class="slide-body">
                    <div class="row no-gutters partner-list partner-bordered">
                        <div class="col partner-item"><span class="inside"><img src="img/pic12.png" alt="" /></span>
                        </div>
                        <div class="col partner-item"><a href="#" class="inside"><img src="img/pic13.png" alt="" /></a>
                        </div>
                        <div class="col partner-item"><a href="#" class="inside"><img src="img/pic14.png" alt="" /></a>
                        </div>
                        <div class="col partner-item"><a href="#" class="inside"><img src="img/pic15.png" alt="" /></a>
                        </div>
                        <div class="col partner-item"><a href="#" class="inside"><img src="img/pic16.png" alt="" /></a>
                        </div>
                        <div class="col partner-item"><a href="#" class="inside"><img src="img/pic17.png" alt="" /></a>
                        </div>
                        <div class="col partner-item"><a href="#" class="inside"><img src="img/pic18.png" alt="" /></a>
                        </div>
                        <div class="col partner-item"><a href="#" class="inside"><img src="img/pic20.png" alt="" /></a>
                        </div>
                        <div class="col partner-item"><a href="#" class="inside"><img src="img/pic21.png" alt="" /></a>
                        </div>
                        <div class="col partner-item"><a href="#" class="inside"><img src="img/pic22.png" alt="" /></a>
                        </div>
                        <div class="col partner-item"><a href="#" class="inside"><img src="img/pic23.png" alt="" /></a>
                        </div>
                        <div class="col partner-item"><a href="#" class="inside"><img src="img/pic24.png" alt="" /></a>
                        </div>
                        <div class="col partner-item"><a href="#" class="inside"><img src="img/pic25.png" alt="" /></a>
                        </div>
                        <div class="col partner-item"><a href="#" class="inside"><img src="img/pic26.png" alt="" /></a>
                        </div>
                        <div class="col partner-item"><a href="#" class="inside"><img src="img/pic27.png" alt="" /></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section pp-scrollable slide slide5 slide-dark">
        <div class="slide-container">
            <div class="slide-bg">
                <div class="inside"></div>
            </div>
            <div class="container">
                <div class="h1"><span class="rounded-icon"><i class="icon-quote"></i></span></div>
                <div class="row">
                    <div class="col-lg-7 col-9">
                        <div class="a-reviews-carousel reviews-carousel-sm owl-carousel owl-theme">
                            <div class="reviews-carousel-item">
                                <div class="inside">
                                    <div class="reviews-carousel-text font-libre">I don’t know what else to say. This is
                                        something you haven’t been see before. Unique design, lighweight and outstanding
                                        support.</div>
                                    <div class="reviews-carousel-author">Roberto Firmino</div>
                                    <div class="reviews-carousel-author-status">Product Management <span
                                            class="text-grey-light">at</span> <em>Invision Inc</em></div>
                                </div>
                            </div>
                            <div class="reviews-carousel-item">
                                <div class="inside">
                                    <div class="reviews-carousel-text font-libre">I don’t know what else to say. This is
                                        something you haven’t been see before. Unique design, lighweight.</div>
                                    <div class="reviews-carousel-author">Roberto Firmino</div>
                                    <div class="reviews-carousel-author-status">Product Management <span
                                            class="text-grey-light">at</span> <em>Invision Inc</em></div>
                                </div>
                            </div>
                            <div class="reviews-carousel-item">
                                <div class="inside">
                                    <div class="reviews-carousel-text font-libre">I don’t know what else to say. This is
                                        something you haven’t been see before. Unique design, lighweight and outstanding
                                        support.</div>
                                    <div class="reviews-carousel-author">Roberto Firmino</div>
                                    <div class="reviews-carousel-author-status">Product Management <span
                                            class="text-grey-light">at</span> <em>Invision Inc</em></div>
                                </div>
                            </div>
                            <div class="reviews-carousel-item">
                                <div class="inside">
                                    <div class="reviews-carousel-text font-libre">I don’t know what else to say. This is
                                        something you haven’t been see before. Unique design, lighweight and outstanding
                                        support.</div>
                                    <div class="reviews-carousel-author">Roberto Firmino</div>
                                    <div class="reviews-carousel-author-status">Product Management <span
                                            class="text-grey-light">at</span> <em>Invision Inc</em></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section pp-scrollable slide slide6">
        <div class="slide-container">
            <div class="slide-bg">
                <div class="inside"></div>
            </div>
            <div class="slide-bg slide-bg-circle">
                <div class="inside"></div>
            </div>
            <div class="container">
                <div class="row slide-content">
                    <div class="col-sm-6">
                        <h2 class="slide-title font-libre h2"><span class="text-primary">New York,</span> USA</h2>
                        <div class="slide-body">
                            <div class="slide-contact-address">166 Main Street, Beverly Hills, CA 90210</div>
                            <div class="slide-contact-mail"><a href="mailto:hello@lewisstudio.co"
                                    class="underline">hello@lewisstudio.co</a></div>
                            <div class="slide-contact-phone"><a href="tel:+00853462188" class="phone-link">+0085 346
                                    2188</a></div>
                        </div>
                    </div>
                </div>
                <a class="btn btn-primary btn-rounded mr-4" href="contact.html">Contact us <i
                        class="icon ion-ios-arrow-right"></i></a>
            </div>
        </div>
    </div>

</div>







{% endblock %}