@import "abstracts/mixins";

@import "base/global";
@import "base/typography";

// @import 'bootstrap-override/bootstrap';

@import "pages/danhsach";

@import "vendor/swiper.min";

::-moz-selection {
  background: #ae2070;
  color: white;
}
::selection {
  background: #ae2070;
  color: white;
}


