/* ------------------------------------------------------------------------------

  Template Name: Lewis
  Description: Leiws - Creative Portfolio HTML Template
  Author: Paul
  Author URI: http://themeforest.net/user/paul_tf

  1.  Global

      1.1 General
      1.2 Typography
      1.3 Fields
      1.4 Buttons
      1.5 Forms
      1.6 Preloader

  2.  Header

  3.  Home Zoom Parallax

  4.  Home Horizontal

      4.1 Home Horizontal Navs
      4.2 Home Horizontal Setting
      4.3 Home Horizontal Animation
      4.4 Home Horizontal Dark Settings


  5.  Home Piling

  6.  Home Minimal

  7.  Home Video

  8.  Home 3D

  9.  Home Flash

  10. Work Pages

  11. Project Card

  12. News Pages

  13. Pages

  14. Footer


*/

/*-------------------------------------------------------------------------------
  1. Global
-------------------------------------------------------------------------------*/

/* 1.1 General */

@import "functions";
@import "variables";

@import "mixins/breakpoints";
@import "mixins/grid-framework";
@import "mixins/grid";

$main-color: #0b114f;

html {
  font-size: 15px;
}

body {
  font-family: "Roboto", sans-serif;
  color: #000000;
}

html > body .underline {
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}


.container-fluid-md {
  padding-left: 15px;
  padding-right: 15px;
}

.row-10 {
  margin-left: -5px;
  margin-right: -5px;
  > {
    [class^="col-"],
    [class*=" col-"] {
      padding-left: 5px;
      padding-right: 5px;
    }
  }
}

@media (min-width: 1280px) {
  .container {
    // max-width: 1200px;
  }
  .row-60 {
    margin-left: -1.875rem;
    margin-right: -1.875rem;
    > {
      [class^="col-"],
      [class*=" col-"] {
        padding-left: 1.875rem;
        padding-right: 1.875rem;
      }
    }
  }
}

@media (min-width: 1600px) {
  .container-fluid {
    padding-left: 3.75rem;
    padding-right: 3.75rem;
  }
  .container-fluid-md {
    padding-left: 7.5rem;
    padding-right: 7.5rem;
  }
}

.full-height {
  min-height: 100vh;
}

/* 1.2 Typography */

h2,
.h2,
h3,
.h3 {
  font-weight: bold;
}

h4,
.h4 {
  margin-bottom: 1.75rem;
  letter-spacing: -0.035em;
  font-weight: bold;
}

.text-bold {
  font-weight: bold;
}

.text-normal {
  font-weight: normal;
}

.text-underline {
  text-decoration: underline;
}

html > body {
  .text-black {
    color: #000000;
  }
  .text-grey-primary {
    color: #cccccc;
  }
  .text-grey {
    color: #666666;
  }
  .text-white a,
  .text-black a {
    color: inherit;
  }
  .text-grey-light {
    color: #999999;
  }
  .lh-sm {
    line-height: 1.25;
  }
  .lh-md {
    line-height: 1.625;
  }
  .lh-lg {
    line-height: 1.875;
  }
  .lh-lg2 {
    line-height: 1.8;
  }
  .fs14 {
    font-size: 0.875rem;
  }
  .fs18 {
    font-size: 1.125rem;
  }
  .fs20 {
    font-size: 1.25rem;
  }
  .fs28 {
    font-size: 1.75rem;
  }
  .fs30 {
    font-size: 1.875rem;
  }
  .fs36 {
    font-size: 2.25rem;
  }
  .fs42 {
    font-size: 2.625rem;
  }
  .fs48 {
    font-size: 3rem;
  }
  .fs60 {
    font-size: 2.75rem;
    line-height: 1.36666667;
  }
}

.fs18.text-grey {
  line-height: 1.66666667;
}

.h1-lg {
  font-size: 3.5rem;
  font-weight: bold;
  letter-spacing: -0.025em;
}

@media (min-width: 576px) {
  .text-right-sm {
    text-align: right !important;
  }
  html > body .fs60 {
    font-size: 3.75rem;
    line-height: 1.36666667;
  }
}

@media (min-width: 768px) {
  .text-right-md {
    text-align: right !important;
  }
  .h1-lg {
    font-size: 4.5rem;
    line-height: 1.13888889;
  }
}

.font-custom {
  font-family: "Roboto", Serif;
}

.font-Roboto {
  font-family: "Roboto", sans-serif;
}



.ion-ios-arrow-left,
.ion-ios-arrow-right {
  transform: translateX(0);
  transition: transform 0.3s ease-in-out;
}

a:hover .ion-ios-arrow-right,
button:hover .ion-ios-arrow-right,
.btn:hover .ion-ios-arrow-right {
  transform: translateX(0.25rem);
}

a:hover .ion-ios-arrow-left,
button:hover .ion-ios-arrow-left,
.btn:hover .ion-ios-arrow-left {
  transform: translateX(-0.25rem);
}

/* 1.3 Fields */

html > body {
  .mr20 {
    margin-right: 1.25rem;
  }
  .mt5 {
    margin-top: 5px;
  }
  .mt10 {
    margin-top: 0.625rem;
  }
  .mt20 {
    margin-top: 1.25rem;
  }
  .mt30 {
    margin-top: 1.875rem;
  }
  .mt40 {
    margin-top: 2.5rem;
  }
  .mt50 {
    margin-top: 3.125rem;
  }
  .mt55 {
    margin-top: 3.4375rem;
  }
  .mt60 {
    margin-top: 3.75rem;
  }
  .mt65 {
    margin-top: 4.0625rem;
  }
  .mt70 {
    margin-top: 4.375rem;
  }
  .mt80 {
    margin-top: 5rem;
  }
  .mt90 {
    margin-top: 5.625rem;
  }
  .mt100 {
    margin-top: 6.5rem;
  }
  .mt150 {
    margin-top: 9.375rem;
  }
  .mb5 {
    margin-bottom: 5px;
  }
  .mb10 {
    margin-bottom: 0.625rem;
  }
  .mb20 {
    margin-bottom: 1.25rem;
  }
  .mb30 {
    margin-bottom: 1.875rem;
  }
  .mb35 {
    margin-bottom: 2.1875rem;
  }
  .mb40 {
    margin-bottom: 2.5rem;
  }
  .mb45 {
    margin-bottom: 2.8125rem;
  }
  .mb50 {
    margin-bottom: 3.125rem;
  }
  .mb55 {
    margin-bottom: 3.4375rem;
  }
  .mb60 {
    margin-bottom: 3.75rem;
  }
  .mb65 {
    margin-bottom: 4.0625rem;
  }
  .mb70 {
    margin-bottom: 4.375rem;
  }
  .mb75 {
    margin-bottom: 4.6875rem;
  }
  .mb80 {
    margin-bottom: 5rem;
  }
  .mb90 {
    margin-bottom: 5.625rem;
  }
  .mb100 {
    margin-bottom: 6.25rem;
  }
  .mb120 {
    margin-bottom: 7.5rem;
  }
  .mb130 {
    margin-bottom: 8.125rem;
  }
}

/* 1.4 Buttons */

button:focus,
input:focus {
  outline: none;
}

.btn {
  padding: 0.75rem 2rem 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 0;
}

.btn-sm {
  padding: 0.875rem 1.5rem 0.8125rem;
}

.btn-md {
  padding: 0.875rem 2rem 0.9375rem;
}

.btn-xs {
  border-color: #cccccc;
  padding: 3px 12px 3px;
  font-size: 0.75rem;
  color: #a7a9b8;
  letter-spacing: 0.025em;
}

.btn-light {
  background: #ffffff;
  border-color: #999999;
}

.btn-dark {
  background: #000000;
  border-color: #000000;
  &:hover,
  &:not(:disabled):not(.disabled):active {
    background: #23272b;
    border-color: #23272b;
  }
}

.btn .icon {
  margin-left: 0.75rem;
  display: inline-block;
  vertical-align: middle;
  margin-top: -0.375rem;
  margin-bottom: -0.25rem;
  line-height: 1;
  font-size: 1.25rem;
}

.btn-sm {
  .icon {
    font-size: 1.125rem;
    line-height: 0.75;
  }
  .ion-ios-email-outline {
    font-size: 1.5rem;
  }
}

.btn-light {
  &:hover,
  &:not(:disabled):not(.disabled):active {
    background-color: #b11d11;
    border-color: #b11d11;
    color: #ffffff;
  }
}

.btn-outline-secondary {
  &:hover,
  &:not(:disabled):not(.disabled):active {
    background-color: #ffffff;
    border-color: #b11d11;
    color: #b11d11;
  }
}

.btn-danger {
  background: #b11d11;
  border-color: #b11d11;
}

.btn-rounded {
  border-radius: 30px;
}

.btn-link.text-black:hover {
  color: #000000;
}

/* 1.5 Forms */

.form-control {
  border-radius: 0;
  padding: 0.625rem 1.25rem 0.625rem;
  height: calc(1.5em + 1.25rem + 2px);
}

.form-control-lg {
  padding: 0.875rem 1.25rem 0.9375rem;
  height: calc(1.5em + 1.8125rem + 2px);
  font-size: 1rem;
}

.control-with-icon {
  position: relative;
  .form-control {
    padding-right: 3rem;
  }
}

.control-icon {
  padding-top: 1px;
  position: absolute;
  top: 50%;
  right: 20px;
  font-size: 1.5rem;
  color: #999999;
  -webkit-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
  i {
    display: block;
    line-height: 0.75;
    &:before {
      display: block;
      line-height: 0.75;
    }
  }
}

.control-btn {
  margin-top: 2.75rem;
}

.label-custom {
  margin-bottom: 0;
  display: block;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: bold;
}

.form-control-custom {
  border: none;
  border-bottom: #cccccc 1px solid;
  padding: 0 0 0.625rem;
  height: calc(1.5em + 0.625rem + 1px);
  color: #000000;
  font-weight: normal;
  &::-webkit-input-placeholder,
  &::-moz-placeholder,
  &:-ms-input-placeholder,
  &::-ms-input-placeholder,
  &::placeholder {
    color: #999999;
  }
  &:focus {
    border-color: #000000;
  }
}

/* 1.6 Preloader */

.preloader {
  position: fixed;
  overflow: hidden;
  z-index: 999999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  color: #4b4b4b;
  text-align: center;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.double-bounce1 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: $main-color;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-bounce 2s infinite ease-in-out;
  animation: sk-bounce 2s infinite ease-in-out;
}

.double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: $main-color;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-bounce 2s infinite ease-in-out;
  animation: sk-bounce 2s infinite ease-in-out;
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

@-webkit-keyframes sk-bounce {
  0%,
  100% {
    -webkit-transform: scale(0);
  }

  50% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bounce {
  0%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }

  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}

/*-------------------------------------------------------------------------------
  2. Header
-------------------------------------------------------------------------------*/
.is-scroll-down {
  .header {
    // transform: translate3d(0,-100%,0);
    margin-top: -100%;
  }
}
.header {
  padding-top: 1.5rem;
  /*transition: color .2s ease-in-out;*/
  margin-top: 0;

  // transition: all 0.5s ease-in-out;

  // will-change: transform;
  // transition: transform 0.3s ease-in;

  // transform: translate3d(0,0,0);

  transition: all 0.5s ease-in;
}

@media (min-width: 768px) {
  .header {
    padding-top: 2.625rem;
  }
}

.header-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 900;
}

.header-affix {
  position: fixed !important;
  top: -5rem !important;
  left: 0;
  width: 100%;
  z-index: 900;
  background: #ffffff;
  padding-top: 0.75rem !important;
  padding-bottom: 0.5rem !important;
  box-shadow: rgba(0, 0, 0, 0.1) 0 3px 15px;
  margin-top: 5rem;
  .nav-logo {
    transform: scale(0.45);
  }
}

@media (max-width: 767px) {
  .header-affix .nav-logo {
    margin-left: -50%;
  }
}

.menu {
  .menu-lang,
  .menu-main,
  .social,
  .menu-copyright {
    opacity: 0;
    transform: translateY(3rem);
    transition: all 0.5s ease-in-out;
  }
  .menu-lang {
    transition-delay: 0.2s;
  }
  .menu-main {
    transition-delay: 0.4s;
  }
  .social {
    transition-delay: 0.6s;
  }
  .menu-copyright {
    transition-delay: 0.8s;
  }
}

.body-menu-opened .menu {
  .menu-lang,
  .menu-main,
  .social,
  .menu-copyright {
    opacity: 1;
    transform: translateY(0);
  }
}

.brand {
  float: left;
  margin-right: 1rem;
  white-space: nowrap;
  a {
    color: inherit;
    text-decoration: none;
  }
}

.brand-name,
.brand-text {
  display: inline-block;
  vertical-align: middle;
}

.brand-name {
  margin-right: 0.875rem;
  font-family: "Roboto", Serif;
  font-size: 2.875rem;
  font-weight: 900;
  line-height: 1.1;
}

.brand-text {
  margin-bottom: 0.375rem;
  font-size: 1.125rem;
  line-height: 1.15;
  letter-spacing: -0.5px;
}

.header-content {
  margin-left: 17.5%;
  margin-right: 17.5%;
}

.header-contacts {
  padding-top: 0.5rem;
  font-weight: bold;
}

.header-contact-item {
  display: inline-block;
  vertical-align: middle;
}

.header-contact-divider {
  display: inline-block;
  vertical-align: middle;
  margin-left: 1.875rem;
  margin-right: 1.875rem;
  opacity: 0.2;
}

.phone-link,
.mail-link {
  color: inherit;
  text-decoration: none;
  &:hover {
    color: inherit;
    text-decoration: none;
  }
}

.phone-link {
  cursor: default;
}

.nav-toggle-btn {
  background: none;
  border: none;
  padding: 0;
  margin: 0.25rem 0 0;
  border-radius: 0;
  outline: none;
  float: right;
  position: relative;
  z-index: 995;
  font-weight: bold;
  text-transform: uppercase;
  color: inherit;
  &:hover {
    color: white;
  }
  &:focus {
    outline: none;
  }
}

.nav-toggle-title {
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.75rem;
}

.nav-toggle {
  width: 29px;
  height: 29px;
  display: inline-flex;
  vertical-align: middle;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  cursor: pointer;
}

.nav-toggle-sm {
  transform: scale(0.65);
  margin-right: -0.3125rem;
}

.stick {
  width: 29px;
  height: 3px;
  margin-bottom: 5px;
  background-color: #000000;
  display: inline-block;
}

.nav-toggle-btn:hover .stick {
  // background-color: #b11d11;
}

.body-menu-opened .nav-toggle-btn {
  color: white;
  .stick {
    background-color: white;
  }
}

.stick:last-child {
  margin-bottom: 0px;
}

.nav-toggle:hover .stick-2 {
  width: 29px;
}

.body-menu-opened {
  .stick-1 {
    animation: stick-1-open 0.85s ease-out forwards;
  }
  .stick-2 {
    animation: stick-2-open 0.85s linear forwards;
    width: 29px;
    margin-left: 0px;
  }
  .stick-3 {
    animation: stick-3-open 0.85s linear forwards;
  }
}

@-webkit-keyframes stick-1-open {
  0% {
    width: 29px;
  }

  30% {
    width: 3px;
    transform: translate(14px, 0px);
  }

  65% {
    width: 3px;
    transform: translate(14px, -29px);
    animation-timing-function: cubic-bezier(0, 1, 1, 1);
  }

  100% {
    width: 2px;
    transform: translate(9px, 17px);
  }
}

@keyframes stick-1-open {
  0% {
    width: 29px;
  }

  30% {
    width: 3px;
    transform: translate(14px, 0px);
  }

  65% {
    width: 3px;
    transform: translate(14px, -29px);
    animation-timing-function: cubic-bezier(0, 1, 1, 1);
  }

  100% {
    width: 2px;
    transform: translate(9px, 17px);
  }
}

@-webkit-keyframes stick-2-open {
  65% {
    width: 29px;
    transform: translate(0px, 0px) rotate(0deg);
  }

  100% {
    width: 29px;
    transform: translate(0px, 0px) rotate(45deg);
  }
}

@keyframes stick-2-open {
  65% {
    width: 29px;
    transform: translate(0px, 0px) rotate(0deg);
  }

  100% {
    width: 29px;
    transform: translate(0px, 0px) rotate(45deg);
  }
}

@-webkit-keyframes stick-3-open {
  65% {
    transform: translate(0px, 0px) rotate(0deg);
  }

  100% {
    transform: translate(0px, -8px) rotate(-45deg);
  }
}

@keyframes stick-3-open {
  65% {
    transform: translate(0px, 0px) rotate(0deg);
  }

  100% {
    transform: translate(0px, -8px) rotate(-45deg);
  }
}

.body-menu-close {
  .stick-1 {
    width: 3px;
    animation: stick-1-close 0.85s ease-out forwards;
  }
  .stick-2 {
    animation: stick-2-close 0.85s ease-out forwards;
    margin-left: 0px;
  }
  .stick-3 {
    animation: stick-3-close 0.85s ease-out forwards;
  }
}

@-webkit-keyframes stick-1-close {
  0%,
  70% {
    width: 0px;
    transform: translate(0, 0);
  }

  100% {
    width: 29px;
    transform: translate(0, 0);
  }
}

@keyframes stick-1-close {
  0%,
  70% {
    width: 0px;
    transform: translate(0, 0);
  }

  100% {
    width: 29px;
    transform: translate(0, 0);
  }
}

@-webkit-keyframes stick-2-close {
  0% {
    width: 29px;
    transform: translate(0px, 0px) rotate(45deg);
  }

  20% {
    width: 3px;
    transform: translate(0, 0px) rotate(45deg);
  }

  40% {
    width: 0px;
  }

  65% {
    transform: translate(0, -26px);
    animation-timing-function: cubic-bezier(0, 1, 1, 1);
  }

  80% {
    width: 0px;
  }

  100% {
    width: 29px;
    transform: translate(0, 0px);
  }
}

@keyframes stick-2-close {
  0% {
    width: 29px;
    transform: translate(0px, 0px) rotate(45deg);
  }

  20% {
    width: 3px;
    transform: translate(0, 0px) rotate(45deg);
  }

  40% {
    width: 0px;
  }

  65% {
    transform: translate(0, -26px);
    animation-timing-function: cubic-bezier(0, 1, 1, 1);
  }

  80% {
    width: 0px;
  }

  100% {
    width: 29px;
    transform: translate(0, 0px);
  }
}

@-webkit-keyframes stick-3-close {
  0% {
    width: 29px;
    transform: translate(0px, -8px) rotate(-45deg);
  }

  20% {
    width: 3px;
    transform: translate(0, -8px) rotate(-45deg);
  }

  40% {
  }

  65% {
    transform: translate(0, -35px);
    animation-timing-function: cubic-bezier(0, 1, 1, 1);
  }

  90% {
    width: 3px;
  }

  100% {
    width: 29px;
    transform: translate(0, 0px);
  }
}

@keyframes stick-3-close {
  0% {
    width: 29px;
    transform: translate(0px, -8px) rotate(-45deg);
  }

  20% {
    width: 3px;
    transform: translate(0, -8px) rotate(-45deg);
  }

  40% {
  }

  65% {
    transform: translate(0, -35px);
    animation-timing-function: cubic-bezier(0, 1, 1, 1);
  }

  90% {
    width: 3px;
  }

  100% {
    width: 29px;
    transform: translate(0, 0px);
  }
}

@-webkit-keyframes fadeZoom {
  0% {
    width: 100%;
  }

  100% {
    width: 0;
  }
}

@keyframes fadeZoom {
  0% {
    width: 100%;
  }

  100% {
    width: 0;
  }
}

.navbar-nav {
  margin-left: 8rem;
  margin-right: 8rem;
  text-align: center;
  font-size: 1rem;
  text-transform: uppercase;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  > ul > li {
    display: inline-block;
    vertical-align: middle;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  a {
    position: relative;
    color: #999999;
    text-decoration: none;
    transition: color 0.3s cubic-bezier(0.82, 0, 0.21, 1);
    &:before {
      content: attr(data-text);
      position: absolute;
      width: 0%;
      transition: width cubic-bezier(0.82, 0, 0.21, 1) 0.3s;
      color: #b11d11;
      z-index: 2;
      overflow: hidden;
    }
  }
  li.active > a,
  a:hover {
    color: #999999;
  }
  li.active > a:before,
  a:hover:before {
    width: 100%;
  }
  li.active > a {
    font-weight: bold;
    color: transparent !important;
  }
}

.menu-main li.active > a {
  // color: transparent !important;
}

.navbar-nav {
  .dropdown-toggle::after {
    display: none;
  }
  .dropdown-menu {
    width: 25rem;
    padding: 27px 40px 22px;
    border: none;
    background: #ffffff;
    border-radius: 0;
    margin-top: 1.125rem;
    margin-left: -40px;
    text-transform: none;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.05);
    position: absolute;
    left: 20px !important;
    top: 100% !important;
    transform: translate3d(0, 0, 0) !important;
  }
  .dropdown:hover .dropdown-menu {
    animation: transform 0.3s ease-in-out forwards;
  }
  .dropdown-menu {
    &:before {
      content: "";
      display: block;
      width: 100%;
      height: 1.125rem;
      position: absolute;
      left: 0;
      right: 0;
      top: -1.125rem;
    }
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        margin-bottom: 6px;
      }
    }
    a {
      white-space: nowrap;
      color: #999999;
    }
    .active a {
      font-weight: normal;
    }
  }
}

@keyframes transform {
  0% {
    margin-top: 3rem;
    opacity: 0;
  }

  100% {
    margin-top: 1.125rem;
    opacity: 1;
  }
}

.dropdown-menu-title {
  margin-bottom: 24px;
  text-transform: uppercase;
  color: #000000;
  font-weight: bold;
}

.menu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 990;
  // background: #ffffff;
  color: rgba(255, 255, 255, 0.8);
  a {
    color: rgba(255, 255, 255, 0.8);
  }
  background: #00217e;
  max-width: 100%;
  width: 100%;
  padding: 3.75rem 4.375rem 3.25rem;
  display: flex;
  flex-direction: column;
  transition: transform 0.4s ease-in-out;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

.body-menu-opened {
  .menu {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
  body {
    /*overflow: hidden;*/
    /*width: 100%;*/
    /*height: 100%;*/
  }
}

@media (min-width: 576px) {
  .menu {
    width: 34rem;
  }
}

@media (min-width: 992px) {
  .navbar-nav {
    margin-left: 15rem;
    margin-right: 15rem;
    > ul > li {
      padding-left: 1.25rem;
      padding-right: 1.25rem;
    }
  }
}

@media (max-width: 575px) {
  .body-menu-opened {
    overflow: hidden;
    width: 100%;
    height: 100%;
  }
}

.hide-menu {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 100%;
  background: rgba(0, 0, 0, 0.1);
  z-index: 980;
}

.body-menu-opened .hide-menu {
  bottom: 0;
}

.menu-lang {
  font-size: 0.875rem;
  font-weight: bold;
  text-transform: uppercase;
}

.menu .menu-lang {
  padding-bottom: 4.5rem;
}

.menu-lang.float-right,
.text-right .menu-lang {
  margin-right: -1rem;
}

.menu-lang-item,
.menu .menu-lang-item {
  margin-right: 1rem;
  color: #000000;
}

.menu-lang-item {
  &:hover {
    // color: #b11d11;
    text-decoration: none;
  }
  &.active {
    // color: #b11d11;
  }
}

.menu-lang .divider {
  margin-right: 1rem;
}

.menu-main {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  padding-top: 30px;
  > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    > li {
      padding: 10px 10px 10px 30px;

      // margin-bottom: 1.2rem;
      &.active {
        background: url(../img/des/icon-fire.svg) left center no-repeat;
        background-size: 16px;
      }
      > {
        a,
        span {
          font-size: 1.3rem;
          // color: gray("700");
          color: rgba(255, 255, 255, 0.8);
        }
      }
      ul {
        padding: 1rem 0 1px 0.875rem;
        margin: 0;
        list-style: none;
        > li {
          margin-bottom: 0.375rem;
          > {
            a,
            span {
              color: #999999;
            }
          }
        }
      }
    }
  }
  a {
    position: relative;
    text-decoration: none;
    &:hover {
      position: relative;
      text-decoration: none;
    }
    &:before {
      content: attr(data-text);
      position: absolute;
      width: 0%;
      transition: width cubic-bezier(0.82, 0, 0.21, 1) 0.3s;
      color: #b11d11;
      z-index: 2;
      overflow: hidden;
      white-space: nowrap;
    }
  }
  li.active > a:before,
  a:hover:before {
    width: 100%;
  }
}

.menu-footer {
  padding-top: 2rem;
}



.home-flash-dark .home-flash-section .container,
.home-flash.dark-horizontal .home-flash-section .container,
.home-flash-dark .home-flash-section .container-fluid {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
}

.home-flash {
  &.dark-horizontal .home-flash-section .container-fluid,
  .footer {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
  }
}

.home-flash-section {
  padding-bottom: 0;
}

.home-flash-section-dark {
  padding-top: 21.01851852vmin;
  margin-bottom: 0;
}

@media (min-width: 576px) and (max-width: 1599px) {
  .home-flash-section {
    // padding-left: 10rem;
  }
}

.home-flash-dark .home-flash-section-dark .container,
.home-flash.dark-horizontal .home-flash-section-dark .container,
.home-flash-dark .home-flash-section-dark .container-fluid {
  opacity: 1;
  pointer-events: all;
}

.home-flash {
  &.dark-horizontal {
    .home-flash-section-dark .container-fluid,
    .footer {
      opacity: 1;
      pointer-events: all;
    }
  }
  background: #ffffff;
  transition: background 0.3s ease-in-out;
}

.home-flash-dark,
.home-flash.dark-horizontal {
  // background: $main-color;

  background: radial-gradient(ellipse at center, #121b70 0, #080d41 100%);

  color: #9999cc;
}



@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-150px, 0, 0);
    transform: translate3d(-150px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-150px, 0, 0);
    transform: translate3d(-150px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(150px, 0, 0);
    transform: translate3d(150px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(150px, 0, 0);
    transform: translate3d(150px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 50px, 0);
    transform: translate3d(0, 50px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 50px, 0);
    transform: translate3d(0, 50px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

/*-------------------------------------------------------------------------------
  13. Pages
-------------------------------------------------------------------------------*/


.timer-item,
.timer .divider {
  display: inline-block;
  vertical-align: top;
  text-align: center;
}

.timer-item {
  min-width: 4.25rem;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  color: rgba(255, 255, 255, 0.7);
  span {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 2.3rem;
    color: white;
    font-weight: 500;
    line-height: 1;
  }

  @include media-breakpoint-down(sm){
    font-size: 13px;
    span{
      font-size: 2rem;
    }
  }
 

}

.timer .divider {
  margin-top: 0.25rem;
  &:before {
    content: ":";
    font-size: 1.1rem;
    color: #999999;
    font-weight: bold;
  }
}

@media (min-width: 576px) {
  .timer-item {
    min-width: 4.25rem;
    padding-left: 1.625rem;
    padding-right: 1.625rem;
  }
}


//DESMOND

.home-flash-dark,
.home-flash.dark-horizontal {
  // background: url("../img/des/bg-all.jpg") no-repeat center bottom;
  // background-attachment: fixed;
  // background-size: cover;
}

.game-container-bg {
  top: 0;
  // z-index: 10;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  position: fixed;
  background-repeat: no-repeat;
  background-position: center bottom;
  // background-attachment: fixed;
  background-size: cover;
}

.game-container-pattern {
  background-repeat: repeat-x;
  top: 0;
  // z-index: 10;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background-size: 1280px 740px;
  -webkit-animation: 150s linear 0s infinite spacey;
  animation: 150s linear 0s infinite spacey;
  pointer-events: none;
  position: fixed;
  will-change: transform;
}

@keyframes spacey {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(-1280px);
    transform: translateX(-1280px);
  }
}

.thewall-hero {
  position: relative;
}

.thewall-hero-h {
  // min-height: 100vh;

  min-height: 100vh; /* Use vh as a fallback for browsers that do not support Custom Properties */
  min-height: calc(var(--vh, 1vh) * 100);
}

.thewall-title {
  margin: 0 auto;

  @media (max-width: 1600px) {
    max-width: 500px;
  }

  @media (max-width: 1400px) {
    max-width: 440px;
  }

  @include media-breakpoint-down(md) {
    margin-bottom: 230px;
  }

  
  @include media-breakpoint-down(sm) {
    margin-bottom: 150px;
  }
}

.thewall-people {
  position: absolute;
  bottom: 70px;
  right: 90px;

  @media (max-width: 1600px) {
    max-width: 600px;
    max-width: 540px;
  }

  @media (max-width: 1100px) {
    max-width: 500px;
  }

  @include media-breakpoint-down(lg) {
    max-width: 440px;
  }

  @include media-breakpoint-down(md) {
    max-width: 400px;
    bottom: 0;
  }

  @include media-breakpoint-down(sm) {
    max-width: 180px;
    bottom: 45px;
    right: 10px;
  }

  @media (max-width: 320px) {
 
    max-width: 150px;
    bottom: 45px;
    right: 10px;
  }

}
.thewall-people {
  // transition: op
}
// .is-scroll-nav{
//   .thewall-people{
//     opacity: 0;
//   }
// }

.home-flash-section-dark {
  padding-top: 0;
}

.thewall-section-container {
  padding-top: 110px !important;
  padding-bottom: 20px !important;
}

.thewall-heading {
  display: block;
  position: relative;
  z-index: 1;
  text-align: center;
  // margin-top: -40px;
  // margin: 0 0 20px;

  position: absolute;

  margin-bottom: -20px;
  bottom: 100%;
  left: 20px;
  width: auto;
  right: 20px;
}

.thewall-heading-txt {
  border-radius: 5px;
  color: white;
  font-size: 24px;
  display: inline-block;
  padding: 10px 30px;
  background: linear-gradient(
    90deg,
    rgba(174, 32, 112, 1) 0%,
    rgba(142, 39, 142, 1) 100%
  );

  @include media-breakpoint-down(lg) {
    font-size: 20px;
  }
}

.thewall-section {
  z-index: 10;
  position: relative;
  color: white;
  background: #080d41;
  padding: 60px 40px 30px 40px;
  border: 2px solid #db35b0;
  border-radius: 10px;
}

.thewall-section-container {
  position: relative;
  padding-right: 10px;
  padding-top: 10px;

  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 100px;
    bottom: 10px;
    left: 10px;
    border-radius: 10px;
    right: 0;
    background: url("../img/bg-dotted.png") 0px 2px;
    z-index: 1;
  }
  &.mask-skew .mask .inside {
    background: $main-color;
  }
}

.thewall-section-txt {
  font-size: 17px;
  line-height: 30px;
  font-weight: 300;
}

.tw-1 {
  padding: 0 10px 20px;
  margin-bottom: 15px;
  border-bottom: 2px solid #db35b0;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}

.tw-2 {
  margin-bottom: 10px;
  justify-content: space-around;

  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch; /* [4] */
  -ms-overflow-style: -ms-autohiding-scrollbar; /* [5] */

  .nav-link {
    white-space: nowrap;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.5);
    &.active {
      color: #db35b0;
      text-decoration: underline;
    }
  }
}

.tw-3 {
  margin-bottom: 10px;
  justify-content: space-around;
  border-bottom: 1px solid white;
  padding-bottom: 10px;
  margin-bottom: 20px;
  .nav-link {
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.5);
    img {
      filter: grayscale(100%);
    }
    &.active {
      color: rgba(255, 255, 255, 0.9);
      img {
        filter: grayscale(0);
      }
    }
  }
}

.tw-5-container {
  display: flex;
  flex-flow: row wrap;
  .tw-5-item {
    flex: 0 0 percentage(1/5);
    min-width: 0;
    margin: 5px 0;
  }

  @include media-breakpoint-down(sm) {
    .tw-5-item {
      flex: 0 0 percentage(1/2);
    }
  }
}

.tw-5 {
  font-size: 13px;
  color: white;
  display: flex;
  line-height: 22px;
  text-align: center;
  padding: 0 10px;
  height: 44px;
  align-items: center;
  justify-content: center;
}

@include media-breakpoint-up(sm) {
  .des-animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

  .des-animated.delay-0-5s {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
  }

  .des-animated.delay-1s {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
  }

  .des-animated.delay-1-5s {
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
  }

  .des-animated.delay-2s {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
  }

  .des-animated.delay-3s {
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
  }

  .des-animated.delay-4s {
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
  }

  .des-animated.delay-5s {
    -webkit-animation-delay: 5s;
    animation-delay: 5s;
  }

  .des-animated.fast {
    -webkit-animation-duration: 800ms;
    animation-duration: 800ms;
  }

  .des-animated.faster {
    -webkit-animation-duration: 500ms;
    animation-duration: 500ms;
  }

  .des-animated.fastest {
    -webkit-animation-duration: 300ms;
    animation-duration: 300ms;
  }

  .des-animated.slow {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
  }

  .des-animated.slower {
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
  }
}

.fp-section {
  &.active {
    .animate-fadeInUp {
      -webkit-animation-name: fadeInUp;
      animation-name: fadeInUp;
    }

    .animate-fadeInRight {
      -webkit-animation-name: fadeInRight;
      animation-name: fadeInRight;
    }

    .animate-fadeInLeft {
      -webkit-animation-name: fadeInLeft;
      animation-name: fadeInLeft;
    }

    .animate-zoomIn {
      -webkit-animation-name: zoomIn;
      animation-name: zoomIn;
    }

    .animate-zoomLarge {
      -webkit-animation-name: zoomLarge;
      animation-name: zoomLarge;
    }

    .animate-tada {
      -webkit-animation-name: tada;
      animation-name: tada;
    }

    .animate-fadeIn {
      -webkit-animation-name: fadeIn;
      animation-name: fadeIn;
    }

    .animate-fadeInUp {
      -webkit-animation-name: fadeInUp;
      animation-name: fadeInUp;
    }
  }
}

@keyframes zoomLarge {
  from {
    opacity: 0;
    -webkit-transform: scale3d(2, 2, 2);
    transform: scale3d(2, 2, 2);
  }

  100% {
    opacity: 1;
  }
}

.my-menu {
  z-index: 99;
  position: fixed;
  margin-bottom: 0;
  width: 230px;
  border-radius: 5px;
  background: #00217e;

  padding: 20px;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
  li {
    padding: 7px 7px 7px 30px;
    &:not(:last-child) {
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }

    &.active,
    &:hover {
      color: rgb(3, 3, 3);

      a {
        color: rgba(255, 255, 255, 1);
      }
    }
    &.active {
      background: url("../img/des/icon-fire.svg") left center no-repeat;
      background-size: 16px;
      font-weight: bold;
    }
  }

  color: rgba(255, 255, 255, 0.7);

  a {
    color: rgba(255, 255, 255, 0.7);
  }

  @media (max-width: 1600px) {
    width: 185px;
    font-size: 13px;
    padding: 15px;
    left: 10px;
  }
}

.nav-toggle-btn {
  display: none;
  @media (max-width: 1200px) {
    display: block;
  }
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background: rgba(255, 255, 255, 0.6);
}

#fp-nav ul li:hover a span,
.fp-slidesNav ul li:hover a span {
  background: rgba(255, 255, 255, 0.9);
}

.tw-6 {
  color: #fffc88;
}


@include media-breakpoint-down(lg) {
  .thewall-section-txt {
    font-size: 16px;
    line-height: 22px;
  }

  .tw-1 {
    font-size: 1.8rem;
  }
  .my-menu {
    display: none;
  }

  .thewall-section {
    padding: 60px 30px 20px 30px;
  }
}

@include media-breakpoint-down(sm) {
  .thewall-heading-txt {
    font-size: 14px;
    padding: 8px 10px;
    line-height: 20px;
  }

  .tw-1 {
    font-size: 18px;
  }
  .thewall-section-container {
    padding-top: 60px !important;
    padding-bottom: 10px !important;
    padding-right: 5px;

    &:before {
      top: 54px;
    }
  }

  .thewall-section-txt {
    font-size: 13px;
    line-height: 21px;
  }
  .thewall-section {
    padding: 30px 10px 10px 10px;
  }
  .tw-3 .nav-link img {
    width: 20px;
  }
  .tw-3 .nav-link {
    padding: 5px;
  }
}

.app-present {
  background: #052174;
  bottom: 0;
  width: 100%;
  z-index: 99;
  color: #fff;
  font-size: 12px;
  // text-align: center;
  padding: 5px 0;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  display: none;
  @include media-breakpoint-down(sm){
    display: block;
  }
}

.app-present-txt {
  display: inline-block;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 0;
  flex: 1 1 0;
  display: block;
}

.app-present-btn {
  display: inline-block;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  display: block;
}

.app-present-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}



.app-present-txt {
  // display: inline-block
}

.app-present-btn {
  display: inline-block;
  margin-left: 10px;
  a{
    font-size: 12px;
  }
}

.app-present-btn a {
  -webkit-box-shadow: 0 0 0 0 #ae2070;
  box-shadow: 0 0 0 0 #ae2070;
  cursor: pointer;
  color: white;
  background: #ae2070;
  -webkit-animation: apppulse 1.25s infinite cubic-bezier(.66,0,0,1);
  animation: apppulse 1.25s infinite cubic-bezier(.66,0,0,1)
}

@keyframes apppulse {
  to {
      -webkit-box-shadow: 0 0 0 8px rgba(174,32,112,0);
      box-shadow: 0 0 0 8px rgba(174,32,112,0)
  }
}


.thewall-section-container {
  @include media-breakpoint-down(sm) {
    transform: scale(0.8, 0.8) translateY(10px);
    transition: 0.4s all ease-in;
    will-change: transform;

    &.watch {
      transform: scale(1, 1) translateY(0);
    }
  }
}

.dark-horizontal {
  .header,
  .social-fixed a,
  .establised,
  .copyright-fixed,
  .social-rounded-fixed a,
  .navbar-nav > ul > li > a {
    color: #ffffff;
  }
  .stick,
  #pp-nav span,
  .pp-slidesNav span {
    background: #ffffff;
  }
  .horizontal-nav li.active {
    background: #333333;
    ~ li {
      background: #333333;
    }
  }
  .horizontal-controls button {
    color: #666666;
    &:hover {
      color: #ffffff;
    }
  }
  .social-rounded-fixed a {
    border-color: #ffffff;
  }
}
