{% from 'macros/helpers.html' import sprite %}

<!doctype html>
<html lang="vi">

<head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link
        href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,700&display=swap&subset=latin-ext,vietnamese"
        rel="stylesheet">

    <title>
        {% block title %} {{ title }} {% endblock %}
    </title>



    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <meta name="format-detection" content="telephone=no">


    <!-- CSS -->
    <!-- <link href="css/bootstrap.min.css" rel="stylesheet"> -->
    <link href="stylesheets/bootstrap.css" rel="stylesheet">


    <link href="css/animsition.min.css" rel="stylesheet">
    <link href="css/owl.carousel.min.css" rel="stylesheet">
    <link href="css/owl.theme.default.min.css" rel="stylesheet">
    <link href="css/socicon.css" rel="stylesheet">
    <link href="css/ionicons.min.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/jquery.fancybox.min.css" rel="stylesheet">
    <!-- <link href="css/jquery.pagepiling.css" rel="stylesheet"> -->

    <!-- Main CSS -->
    <!-- <link href="css/style.css" rel="stylesheet"> -->
    <link href="stylesheets/theme.css" rel="stylesheet">

    <link rel="stylesheet" href="stylesheets/core.css">


</head>

<body class="home-flash dark-horizontal">
    <div class="animsition">
        <div class="wrapper">
            {% block header %}
            {% include "layouts/header.html" %}


            {% endblock %}


            {% block content %}


            {% endblock %}


            {% include "layouts/footer.html" %}


            <section class="app-present sticky-bottom">
                <div class="container">
                    <div class="app-present-row">
                        <div class="app-present-txt">Tải ví MoMo thanh toán tiện lợi</div>
                        <div class="app-present-btn"><a
                                href="https://momo.vn/download?utm_source=website-momo&amp;utm_medium=download&amp;utm_campaign=momo-1dong"
                                class="btn btn-light border-0 btn-rounded font-weight-bold" target="_blank">TẢI NGAY</a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    {% block javascript %}

    <!-- <script src="js/jquery-3.3.1.slim.min.js"></script> -->
    <script src="js/jquery.min.js"></script>
    <script src="js/lazysizes.min.js"></script>
    <script src="js/smoothscroll.js"></script>
    <script src="js/popper.min.js"></script>

    <script src="javascripts/app.js"></script>


    <script src="js/animsition.min.js"></script>
    <!-- <script src="js/owl.carousel.min.js"></script> -->
    <!-- <script src="js/wow.min.js"></script> -->
    <!-- <script src="js/jquery.pagepiling.min.js"></script> -->
    <!-- <script src="js/isotope.pkgd.min.js"></script> -->
    <script src="js/jquery.fancybox.min.js"></script>
    <!-- <script src="js/TweenMax.min.js"></script> -->
    <!-- <script src="js/ScrollMagic.min.js"></script> -->
    <!-- <script src="js/animation.gsap.min.js"></script> -->
    <!-- <script src="js/debug.addIndicators.js"></script> -->
    <!-- <script src="js/jquery.viewport.js"></script> -->
    <script src="js/jquery.countdown.min.js"></script>
    <script src="js/swiper.min.js"></script>
    <script src="js/firework.js"></script>

    <script src="js/scrolloverflow.js"></script>
    <script src="js/fullpage.extensions.min.js"></script>
    <script src="js/jquery.inview.js"></script>


    <!-- <script src="js/script.js"></script> -->



    <script>



        (function ($) {
            'use strict';

            $('.animsition').animsition({
                loadingClass: 'preloader',
                loadingInner: '<div class="spinner"><div class="double-bounce1"></div><div class="double-bounce2"></div></div>'
            });

            $('.a-nav-toggle').on('click', function () {
                if ($('html').hasClass('body-menu-opened')) {
                    $('html').removeClass('body-menu-opened').addClass('body-menu-close');
                } else {
                    $('html').addClass('body-menu-opened').removeClass('body-menu-close');
                }
            });

            $('.menu-main li').on('click', function () {
                $('html').removeClass('body-menu-opened').addClass('body-menu-close');
            });


        }($));


        var breakpoint = 700;

        var bodyElement = document.body;
        var scrolling = false,
            previousTop = 0,
            currentTop = 0,
            scrollDelta = 10,
            scrollOffset = 100,
            scrollNav = 100;

        function autoHideHeader() {
            var currentTop = $(window).scrollTop();

            if (currentTop >= scrollNav) {
                bodyElement.classList.add("is-scroll-nav");
            } else {
                bodyElement.classList.remove("is-scroll-nav");
            }

            if (previousTop - currentTop > scrollDelta) {
                //if scrolling up...
                bodyElement.classList.remove("is-scroll-down");
            } else if (
                currentTop - previousTop > scrollDelta &&
                currentTop > scrollOffset
            ) {
                //if scrolling down...
                bodyElement.classList.add("is-scroll-down");
            }

            previousTop = currentTop;
            scrolling = false;
        }

        autoHideHeader();

        $(window).on("scroll", function () {
            if (!scrolling) {
                scrolling = true;
                !window.requestAnimationFrame
                    ? setTimeout(autoHideHeader, 250)
                    : requestAnimationFrame(autoHideHeader);
            }
        });


        $(document).ready(function () {

            if ($('.a-timer').length) {
                $('.a-timer').countdown('2019/7/31', function (event) {
                    $(this).html(event.strftime('<div class="timer-item"><span>%D</span> Ngày</div><div class="divider"></div><div class="timer-item"><span>%H</span> Giờ</div><div class="divider"></div><div class="timer-item"><span>%M</span> Phút</div><div class="divider"></div><div class="timer-item"><span>%S</span> Giây</div>'));
                });
            }

            $('.promotion-accordion').on('shown.bs.collapse', function () {
                // console.log("dwd");
                fullpage_api.reBuild();
            });

            // $('#promotionThele .card-link').on('click', function () {
            //     setTimeout(function(e){
            //         fullpage_api.reBuild();
            //     }, 500)
            // });


            if ($(window).width() > 700) {
                myFullpage = new fullpage('#fullpage', {
                    navigation: true,
                    scrollingSpeed: 400,
                    menu: '.my-menu, .menu-chinh',
                    scrollOverflow: true,
                    slidesNavigation: false,
                    normalScrollElements: '.htu-nav, .tt-nav',
                    responsiveWidth: 700,

                    afterReBuild: function () {

                    }
                });
            } else {

                $('.menu-main li a').bind('click', function (event) {
                    var $anchor = $(this);
                    var $tar = $anchor.attr('href').substr(1);
                    console.log($tar);
                    var $target = $("div[data-anchor='" + $tar + "']");
                    $('html, body').stop().animate({
                        scrollTop: $target.offset().top - 70
                    }, 1000);
                    event.preventDefault();
                });

                $('.thewall-section-container').on('inview', function (event, isInView, visiblePartX, visiblePartY) {
                    if (isInView) {
                        $(this).stop().addClass('watch');
                    }
                    else {
                        $(this).stop().removeClass('watch');
                    }
                });


            }



            $(".manual-device").each(function (index, element) {
                var $this = $(this);
                var numSlider = $this.attr("childId");
                var device = null;
                var process = null;

                if (numSlider != undefined) {
                    device = $this.find(".manual-device-swiper#hd-sub-swp-" + numSlider);
                    process = $this
                        .parent()
                        .parent()
                        .find(".manual-process#hd-sub-ctn-" + numSlider);
                } else {
                    numSlider = index;
                    device = $this.find(".manual-device-swiper");

                    process = $this
                        .parent()
                        .parent()
                        .find(".manual-process ");
                }

                var swiperArray = [];

                swiperArray[numSlider] = new Swiper(device, {
                    observer: true,
                    observeParents: true,
                    on: {
                        slideChangeTransitionEnd: function slideChangeTransitionEnd() {
                            var num = this.activeIndex;
                            process.children(".process_item").removeClass("active");
                            process
                                .children(".process_item")
                                .eq(num)
                                .addClass("active");
                        }
                    }
                });

                process.children(".process_item").each(function (index, element) {
                    var num = index;
                    $(element).on("click", function (e) {
                        e.preventDefault();
                        $(this)
                            .addClass("active")
                            .siblings()
                            .removeClass("active");
                        swiperArray[numSlider].slideTo(index);
                    });
                });
            });

            $(".process__body-content").each(function (index, element) {
                var $this = $(this);
                var height = $this[0].scrollHeight;

                // $this.style.setProperty('--max-height', height + 'px');
                $this.css('--max-height', height + 'px');
            });
        });

        $(document).ready(function () {
            $(".various").fancybox({
                maxWidth: 800,
                maxHeight: 600,
                fitToView: false,
                width: '70%',
                height: '70%',
                autoSize: false,
                closeClick: false,
                openEffect: 'none',
                closeEffect: 'none'
            });


            var hvSwiper = new Swiper('.hv-swiper', {
                slidesPerView: 4,
                spaceBetween: 10,

                breakpoints: {

                    776: {
                        slidesPerView: 3,
                        spaceBetween: 10,
                    },
                    450: {
                        slidesPerView: 2,
                        spaceBetween: 10,
                    }
                },
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev',
                }
            });


            $(".hv-swiper .swiper-slide").on("click", function (e) {
                e.preventDefault();
                $(this).siblings().removeClass("hv-active");
                $(this).addClass("hv-active");
                var num = ($(this).index() - 1) < 0 ? 0 : ($(this).index() - 1);
                hvSwiper.slideTo(num)
            });

        });
    </script>



    {% endblock %}

</body>

</html>