<div class="footer">

<br>
<br>
<br>
    <div class="footer-flash d-none">
        <div class="container">
            <div class="footer-content-flash">
                <div class="row">
                    <div class="col-md-4 col-6 mb-5">
                        <h5>Office</h5>
                        <div class="contact-item">166 Main Street, Beverly Hills,<br /> CA,&nbsp;90210</div>
                        <div class="contact-item"><a href="mailto:hello@lewisstudio.co">hello@lewisstudio.co</a></div>
                        <div class="contact-item"><a href="tel:+00853462188" class="phone-link">+0085 346 2188</a></div>
                    </div>

                    <div class="col-md-3 col-6 mb-5">
                        <h5>help</h5>
                        <ul class="footer-nav">
                            <li><a href="#">FAQs</a></li>
                            <li><a href="#">Terms & Conditions</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Help</a></li>
                            <li><a href="#">Services</a></li>
                        </ul>
                    </div>

                    <div class="col-md-2 col-6 mb-5">
                        <h5>quick links</h5>
                        <ul class="footer-nav">
                            <li><a href="#">About</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">Career</a></li>
                            <li><a href="#">Blog</a></li>
                        </ul>
                    </div>

                    <div class="col-md-3 col-6 mb-5">
                        <ul class="social social-rounded">
                            <li><a href="#"><i class="socicon-twitter"></i></a></li>
                            <li><a href="#"><i class="socicon-facebook"></i></a></li>
                            <li><a href="#"><i class="socicon-googleplus"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="site-info">
                <div class="row">
                    <div class="col-6">
                        <div class="copyright text-left">&copy; 2019 <strong>LEWIS</strong>. All Rights Reserved.</div>
                    </div>
                    <div class="col-6">
                        <div class="text-right">Design by <strong><a href="#">Logan Cee</a></strong></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>