<header id="header" class="header header-fixed">
        <div class="container-fluid clearfix">
                <div class="brand">
                        <a href="#" class="ml-3">
                                <img src="img/des/logo-main.png" width="170" class="img-fluid" alt="">

                        </a>
                </div>

                <button class="nav-toggle-btn a-nav-toggle">
                        <span class="nav-toggle-title">Menu</span>
                        <span class="nav-toggle nav-toggle-sm">
                                <span class="stick stick-1"></span>
                                <span class="stick stick-2"></span>
                                <span class="stick stick-3"></span>
                        </span>
                </button>
        </div>

        <div class="hide-menu a-nav-toggle"></div>

        <div class="menu">
               
                <div class="menu-main" id="accordion">

                        <ul id="" class="list-unstyled menu-chinh">
                                <li data-menuanchor="tuonglua" class="active"><a href="#tuonglua">Tường lửa</a></li>
                                <li data-menuanchor="thele"><a href="#thele">Thể lệ & điều khoản</a></li>
                                <li data-menuanchor="giaithuong"><a href="#giaithuong">Giải thưởng</a></li>
                                <li data-menuanchor="vatpham"><a href="#vatpham">Vật phẩm</a></li>
                                <li data-menuanchor="nhiemvu"><a href="#nhiemvu">Nhiệm vụ </a></li>
                                <li data-menuanchor="khachhangmoi"><a href="#khachhangmoi">Khách hàng mới</a></li>
                                <li data-menuanchor="huongdan"><a href="#huongdan">Hướng dẫn</a></li>
                                <li data-menuanchor="hoidap"><a href="#hoidap">Hỏi đáp</a></li>
                                <li data-menuanchor="tintuc"><a href="#tintuc">Tin tức</a></li>
                        </ul>
                     
                </div>

             <!--    <div class="menu-footer">
                        <ul class="social social-rounded">
                                <li><a href="#"><i class="socicon-twitter"></i></a></li>
                                <li><a href="#"><i class="socicon-facebook"></i></a></li>
                                <li><a href="#"><i class="socicon-googleplus"></i></a></li>
                        </ul>
                        <div class="menu-copyright">&copy; 2019 <strong>LEWIS</strong>. All Rights Reserved.<br />
                                design by
                                <strong>Logancee</strong></div>
                </div> -->
        </div>
</header>